.google-visualization-table-table{ width:100% }
#print_link{
    float:right;
    margin:5px 30px 5px 10px;
}
#report_headline{
    padding: 5px;
    margin: 5px;
    color:#aaa;
    font-size:20px;
    font-family:Georgia;
    font-weight:bolder;
    text-align: center
}

#report_menu{
    width:200px;
    float:left;
    margin:5px 5px 5px 0px;
}

/*
#report_submenu{
    height:30px;
    margin-left: 200px;
}*/

#report_content{
    margin-left: 200px;
}



/* for jquery UI component*/
#tabs ul{ height:32px; }

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }