<!-- app-spec
  data-tooltip atributes
-->
<form>
  <div>
    <span data-tooltip="service that can be registered">
      <label for="service_leaf_level_radio" >Service</label>
      <input id="service_leaf_level_radio" name="service_level" type="radio" checked="checked" onclick="set_default_service_name('New Service'); set_leaf_service_env()" />
    </span>
    <span data-tooltip="service category that contains services">
      <label for="service_branch_level_radio" >Service Category</label>
      <input id="service_branch_level_radio" name="service_level" type="radio" onclick="set_default_service_name('New Service Category'); set_branch_service_env()" />
    </span>
  </div>
</form>