html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, em, font, img,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font: 12px/1.5em helvetica, arial, freesans, clean, sans-serif;
}

body {

    background: url("/images/om_sprite.png") repeat-x #f7f7f7;
}

html, body, #wrapper {

    height: 100%;
    color: #191919;
}

body > #wrapper {

    height: auto;
    min-height: 100%;
}

/* reset */
ol, ul {
    list-style: none;
}

/* reset */
:focus {
    outline: 0;
}

/* BEGIN Element stylerules */
h1, h2, h3, h4 {

    text-transform: capitalize;
    font: bold "Century Schoolbook", Georgia, Times, serif;

}

h1, .h1 {
    padding: 6px 10px;
    color: #333333;
    font-weight: normal;
    font-size: 18px;
}

h1.page-content {
    background: url("/images/bg_light.png") repeat-x bottom #f1f2f1;
    border-color: #DDDDDD #DDDDDD #C3C3C3;
    border-style: solid;
    border-width: 1px;
    text-shadow: #FFF 1px 1px 1px;
}

h2 a {
    font-size: 1.3em;
    color: #cf3a72;
}

h2 a:hover {
    color: #A32D5A;
}

h2 {

    color: #0063DC;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 0;
    padding: 0.2em;
}

h3 {
    color: #4096ee;
    font-size: 1.2em;
}

h3 a {
    font-size: 1.2em;
    color: #4096ee;
}

h4 {
    border-bottom: 1px dotted #0063DC;
    color: #0063DC;
    margin: 10px 0;
    padding: 2px;
}

p {
    letter-spacing: 1px;
    margin: 5px 0;
}

a {
    color: #162D3D;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: #0063dc;
}

a.blue {
    color: #0063dc !important;
}

input {
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;

}


form input[type=text], form input[type=email], form input[type=password], textarea, select {

    padding: 4px;
    border: 1px solid #dedede;
    color: #191919;
}
select{
    margin: 2px 8px;
}
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.broad-text{
    width:450px;
}

form table input {
    height: 22px;
    padding: 0 !important;
    background: #F2F2F2;
    border: 1px solid #A2A6A7;
}

form input.inputSmall {
    width: 4em;
}

form input.inputMid {
    width: 8em;
}

form input.datepickr,form input.tpickr {
    width: 100px;
}

form label {
    color: #0063dc;
    display: inline-block;
    *zoom: 1;
    *display: inline;

    font-weight: bold;
    min-width: 140px;
    text-align: right;
    margin: 0 10px;
    text-transform: capitalize;

}

fieldset {
    margin: 1.3em;
    padding: 1.3em;
    background: #F2F2F2;
    border: 1px solid #80BDFB;

}

legend {

    font-size: 1.4em;
    color: #333;
    padding: 0 0.5em;

}

* html .clearfix {
    height: 1%;
}

td h4 {

    border-bottom: 4px solid #09F3E4;
    color: #055F67;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 0.5em 0;
    text-transform: capitalize;
}

th {
    text-align: left;
    color: #448be2;
    font-size: 1.2em;
    border-bottom: 1px dotted #448be2;
}


tr.even {
    background: #EAEBFF !important;;
}

tr.even a, tr.odd a {
    color: #333 !important;
}

tr.odd {
    background: #D3D6FF !important;;
}

#notification-flash-wrapper {
    opacity: 0.90;
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 999999;
}

#notification-flash {
    text-align: center;
    font-size: 1.7em;
    padding: 1em;
    color: #FFF;
    background: #191919;
    z-index: 999999;
}

#top-pane {

    height: 28px;

}

#wrapper {
    min-height: 400px;
}

#head {

    width: 950px;
    text-align: left;
    margin: 0 auto 50px;
}

#loginWrapper {
    display: none;
}

#loginFailed {

    font-size: 0.8em;
    position: relative;
}

#ctlrBar, #user_custom_bar {
    background: #666;
    color: #FFF;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    text-transform: capitalize;
}

#ctlrBar a, #user_custom_bar a {
    color: #FFF;

}

#breadcrumb {
    padding: 14px 0 0 0;
    color: #fff;
}

#breadcrumb a {
    text-shadow: #333 1px 1px 1px;
    text-decoration: underline;
    padding: 0 10px;
    color: #fff;
}

#content {
    text-align: left;
    margin: 0 auto 4em;
    width: 950px;
    padding-bottom: 16em;
}

#left {
    text-align: left;
    float: left;
    width: 690px;
    margin: 0;
}

#right {
    text-align: left !important;
    width: 230px;
    margin: 0;
    float: right;
}
.content-box{
    margin: 0 0 20px;
}
.center-content {
    width: 950px;
    margin: 0 auto;

}

div.page-content {
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px;
}

div.sidebar-menu {

    margin: 0 0 1em;
}

h1.side-bar {
    text-shadow: #333 1px 1px 1px;
    margin: 0;
    background: url("/images/bg_dark.png") bottom repeat-x #80bdfb;
    color: #fff;
    padding: 5px;
}

div.sidebar-menu-content {
    margin: 0 0 20px;
    padding: 5px;
    border: 1px solid #4096ee;
    background: #fff;
}

div.sidebar-menu-nav {
    border-bottom: 1px solid #e3e3e3;
    color: #FFF;
    display: none;
    font-size: 1.2em;
    line-height: 1.4;
    margin: 0;
    padding: 0.2em 10px;
}

div.sidebar-menu-content li {
    padding: 0.5em 0;
    border-bottom: 1px dotted #ddd;
}

li.menu-li-last-divider {
    border-bottom-width: 0 !important;
}

ul.item-list {

}

li.list-item {
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
}

.item-list-actions-wrapper {
    position: absolute;
    background: #191919;
    opacity: 0.8;
    right: 0;
    display: none;

}

.item-list-actions {
    margin: 5px;
    height: 100%;
}

.first-l {
    color: #4096ee;
    font-size: 1.7em;
    font-weight: bold
}

.corners-bottom {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-radius-bottomleft: 4px;
    -webkit-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.corners-top {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-radius-topleft: 4px;
    -webkit-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.corners {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

#time_picker {

    display: none;
    text-align: left;
    border: 1px solid #999;
    overflow: hidden;
    height: 14em;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    background: #f2f2f2;
    list-style: none;
    z-index: 10000;
}

#time_picker li {
    *float: left;
    text-indent: 0;
    margin: 0;
    padding: 0.1em 0.2em;
    cursor: pointer;
}

/* top  menu */
#navigation {
    position: relative;
    margin: 40px auto 0;
    width: 950px;
    z-index: 1000;
}

#topnav {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333;
    margin: 0;
    padding: 0;
    float: left;
    width: 950px;
    list-style: none;
    position: relative;
    font-size: 1em;
    background: url("/images/bg_menu .png") repeat-x ;
}

#topnav li {
    float: left;
    margin: 0;
    padding: 10px; /*border-right: 1px solid #d1d1d1; *//*--Divider for each parent level links--*/
}

#topnav li a {
    font-weight:bold;
    text-transform: capitalize;
    
    display: block;
    COLOR: #fff;
    text-decoration: none;
}

/* submenu */
#topnav li div {

    padding: 0 0 10px;
    margin: 0 ;
    position: absolute;
    top: 38px;
    display: none;
    width: 200px;
    background: #a32d5a;
    color: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px;
}

#topnav li div a {
    text-transform: capitalize;
    border-bottom: 1px dotted #cf3a72;
    background: #A32D5A;
    padding: 3px 15px;
    display: block;
}

/*--Since we declared a link style on the parent list link, we will correct it back to its original state--*/
#topnav li div a:hover {
    background: url("/images/bg_menu .png") repeat-x ;
    text-decoration: none;
}

/**************************** End Menu *****************************/

/**************************** Rails specific style rules ***********/
#errorExplanation {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ed513b;
    -moz-border-radius: 4px;
}

/* Errors and validation */
.fieldWithErrors input, .inputInvalid {
    padding: 8px;
    background: #F09183;
    color: #fff;
    border: 1px solid #ed513b;
}

.fieldWithErrors label {
    color: #ed513b;
}

span.error, .red {
    color: #ed513b;
}

.green {
    color: #61bd68;
}

#errorExplanation h2 {

    padding: 0.5em;
    color: #ed513b;

}

#errorExplanation ul {
    padding: 1em;
}

#errorExplanation li {
    margin: 4px 0;
    padding: 0;
    text-indent: 1em;
    border-left: 4px solid #ed513b;
    font-style: italic;
}

#warning {
    padding: 1em;
    font-size: 1.4em;
    background-color: #E1F7FA;
    color: #fff;
    z-index: 1000;
    width: 100%;
    position: absolute;
}

.inputValid {
    border: 1px solid #61bd68;

}

.fieldset_active {
    border: 1px solid #448be2;
}


#search_wrapper {
    margin-top: 4px;
    background: url("../images/omega_search_input.png");
    width: 108px;
    height: 20px;
    float: right;
}

#search_input {
    font-size: 0.7em;
    color: #4d4d4d;
    margin: 2px 2px 0 0;
    height: 16px;
    width: 80px;
    border: 0px;
    float: right;
}

#search_submit {
    margin-top: 5px;
    margin-left: 4px;
    float: right;
}

.inputActive {

    border: 1px solid #999;

}

.box-shadow {
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.box-shadow-dark {
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333;
}

/* Buttons */
.om-button a, .om-button input, .om-button button, .om-icon-button a, .om-icon-button input, .om-icon-button button {
    position: relative;
    text-transform: capitalize;
    line-height: 18px;
    height: 18px;
       color: #333333;
    font-weight: bold;

    text-shadow: 1px 1px 1px #FFFFFF;
    background: none;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
    cursor: pointer;
    padding: 3px 6px;
    outline: none;
    border: none;
    vertical-align: bottom;

}

.om-button input, .om-icon-button input {

}

.om-icon-button a {
    color: #333333;
    font-weight: bold;

    text-shadow: 1px 1px 1px #FFFFFF;
    padding: 1px 8px;

}

.om-button button {
    width: auto;
    overflow: visible;
}

span.om-button,
span.om-icon-button {
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    background: url("/images/om_button_bg.png") repeat-x bottom transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #bbb #a0a0a0;
    margin: 0 4px;
}

span.om-icon-button {
    vertical-align:bottom;
    padding: 0 0 0 20px;
}

span.om-plain-button, span.om-plain-icon-button {
    cursor: auto;
    position: relative;
    display: inline-block;
    height: 16px;
    margin: 0 0 0 22px;
}

span.om-plain-button a, span.om-plain-icon-button a {
    color: #4096EE;
}

span.om-button span.om-icon,
span.om-icon-button span.om-icon,
span.om-plain-button span.om-icon,
span.om-plain-icon-button span.om-icon,
.om-icon-only, .om-footer-symbol {
    background-image: url(../images/icons/iconSprite.png);
    background-repeat: no-repeat;
}

.om-footer-symbol {
    display: inline-block;
    width: 64px;
    height: 48px;
}

.om-footer-twitter {
    background-position: 0 -464px;
}

.om-footer-rss {
    background-position: 0 -512px;
}

.om-footer-calendar {
    background-position: 0 -560px;
}

.om-icon-only {
    margin: 0 2px;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 16px;
    width: 16px;

}

span.om-button-active {
    background: url("/images/om_button_bg_active.png") repeat-x bottom transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #bbb #a0a0a0;
    color: #0063dc;
}

span.om-button span.om-icon,
span.om-icon-button span.om-icon,
span.om-plain-button span.om-icon,
span.om-plain-icon-button span.om-icon {

    position: absolute;
    top: 2px;
    margin: 0 0 0 -20px;
    display: block;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    *display: inline;
    *zoom: 1;

}

.om-white-icon, .om-blue-icon {
    height: 14px;
    width: 14px;
}

span.om-icon-button span.om-icon {
    margin-left: -16px;
}

.om-icon-date {
    background-position: 0 -16px;
}

.om-icon-add {
    background-position: 0 -32px;
}

.om-icon-edit {
    background-position: 0 -48px;
}

.om-icon-delete-icon {
    background-position: 0 -64px;

}

.om-icon-delete-small {
    background-position: 0 -80px;

}

.om-icon-user {
    background-position: 0 -112px;
}

.om-icon-group {
    background-position: 0 -128px;
}

.om-icon-mail {
    background-position: 0 -144px;
}

.om-icon-sort-az {
    background-position: 0 -160px;
}

.om-icon-sort-za {
    background-position: 0 -176px;
}

.om-icon-favorite-add {
    background-position: 0 -192px;
}

.om-icon-favorite-remove {
    background-position: 0 -208px;
}

span.om-icon-back {
    background-position: 0 -224px;
}

.om-icon-mail-sent {
    background-position: 0 -240px;
}

.om-icon-mail-open {
    background-position: 0 -256px;
}

.om-icon-mail-new {
    background-position: 0 -272px;
}

.om-icon-user-add {
    background-position: 0 -288px;
}

.om-icon-household-add {
    background-position: 0 -304px;
}

.om-icon-user-remove {
    background-position: 0 -320px;
}

.om-icon-user-edit {
    background-position: 0 -336px;
}

.om-icon-mail-reply {
    background-position: 0 -352px;
}

.om-icon-save {
    background-position: 0 -368px;
}

.om-icon-delete {
    background-position: 0 -384px;
}

.om-icon-apply {
    background-position: 0 -400px;
}

.om-icon-clock {
    background-position: 0 -416px;
}

.om-icon-favorite {
    background-position: 0 -432px;
}

.om-icon-arrow-move {
    background-position: 0 -448px;
}

.om-icon-magnifier-m {
    background-position: 0 -720px;
}

.om-icon-calendar-next {
    background-position: 0 -736px;
}

.om-icon-calendar-prev {
    background-position: 0 -752px;
}

.om-icon-next {
    background-position: 0 -768px;
}

.om-icon-folder-stamped {
    background-position: 0 -784px;
}

.om-icon-folder-stack {
    background-position: 0 -800px;
}

.om-icon-folder-open {
    background-position: 0 -816px;
}

.om-icon-folder-edit {
    background-position: 0 -832px;
}

.om-icon-counter {
    background-position: 0 -848px;
}

.om-icon-tick-small {
    background-position: 0 -864px;
}

.om-icon-clipboard-list {
    background-position: 0 -880px;
}

.om-icon-ui-textfield {
    background-position: 0 -896px;
}

.om-icon-ui-textarea {
    background-position: 0 -912px;
}

.om-icon-ui-label {
    background-position: 0 -928px;
}

.om-icon-ui-selectbox {
    background-position: 0 -944px;
}

.om-icon-doc-share {
    background-position: 0 -960px;
}

.om-icon-megaphone {
    background-position: 0 -976px;
}

.om-icon-doc-image {
    background-position: 0 -992px;
}

.om-icon-doc-pdf {
    background-position: 0 -1008px;
}

.om-icon-doc-excel {
    background-position: 0 -1024px;
}

.om-icon-doc-blue {
    background-position: 0 -1040px;
}

.om-icon-doc-word {
    background-position: 0 -1056px;
}

.om-icon-doc-powerpoint {
    background-position: 0 -1072px;
}

.om-icon-doc-add {
    background-position: 0 -1088px;
}

.om-icon-login {
    background-position: 0 -1104px;
}

.om-icon-clipboard-plus {
    background-position: 0 -1120px;
}
.om-icon-home {
    background-position: 0 -1136px;
}

/*END BUTTONS*/

/*Pagination */
div.pagination {
    margin: 20px 0 0; 
    color: #000000;
    display: block;
    border-top: 1px solid #ddd;
    font-size: 12px;
    line-height: 18px;
    padding: 30px;

}

div.pagination a {
    -moz-border-radius: 2px;
    border: 1px solid #BBBBBB;
    color: #002A5C !important;
    margin-right: 4px;
    padding: 2px 6px 1px;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #FFFFFF;
    background: url("/images/om_button_bg.png") repeat-x scroll center bottom transparent;
}

div.pagination em {
    font-weight: bold;
    -moz-border-radius: 4px;
    border: 1px solid #0063dc;
    color: #fff !important;
    margin-right: 4px;
    padding: 2px 6px 1px;
    text-decoration: none !important;
    background: url("/images/details_bg.png") repeat-x scroll center bottom transparent;
}

div.pagination a:hover {
    border: 1px solid #0063dc;
    text-shadow: none !important;
    color: #fff !important;
    background: url("/images/details_bg.png") repeat-x scroll center bottom transparent;
}

div.pagination span.disabled {
    -moz-border-radius: 4px;
    border: 1px solid #e3e3e3;
    color: #999 !important;
    margin-right: 4px;
    padding: 2px 6px 1px;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #FFFFFF;

}

/*End Pagination */

form span.error {

    padding: 0 0 0 4px;
    color: #ED513B;
    font-size: 1em;
}

.cmd_success {
    border: 4px solid #056136;
    padding: 1em;
    font-weight: bold;
    background: #3EB17B;
    color: #fff;
}

/* must be same height as the footer */

#footer_wrapper {
    position: relative;
    margin: -16em 0; /* negative value of footer height */
    height: 16em;
    clear: both;

}

#footer {
    width: 950px;
    margin: 0 auto;
    background: #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

#footer table {
    width: 100%;

    text-align: center;
}

#footer h1 {
    color: #4096ee;
}

#footer table td {

    vertical-align: top;
    color: #666;
}

#footer div.footer-content {
    padding: 1em;
    text-align: left;
}

#footer span.date {
    padding: 0 10px 0 0;
    color: #C7CCCD;
}





#events {
    height: 175px;
    overflow: hidden;
}

.nav_em_show {
    display: block;
    height: 20px;
    background: url(../images/nav_em.png) no-repeat;
    float: left;
    width: 20px;
    margin: 0 4px;
}

.nav_em_show {
    background-position: 0 0;
}

.nav_em_show_hover {
    background-position: 0 -20px;
}

.head_bg {
    height: 24px;
    font-weight: bold;
    padding: 2px;
    color: #0E5A9D;
    border-bottom: 1px solid #CACBD1;
    text-align: left;
    font-size: 12px;
}

.content {
    color: #0E5A9D;
}


.li-over {
    background: #1484E6;
    color: #FFF;
}

.li-over a {
    background: #1484E6;
    color: #FFF !important;
}

/* search box */
.search_wrapper_l {
    display: inline-table;
    color: #fff;
    width: 244px;
    height: 54px;
    background: url("../images/search_box_l.png") no-repeat scroll 0 0;
}

.search_wrapper_hover {
    background-position: 0 -54px;
}

.search_wrapper_focus {
    color: #162d3d !important;
    background-position: 0 -108px;
}

.search_wrapper_l input {
    padding: 18px 45px;
    background: transparent;
    border: none;

}

/************ calendar list ********************/
.pos-date {
    margin: 0 10px 0 0;
    background: url("/images/cal_bg.png") no-repeat;
    text-align: center;
    font-size: 1.3em;
    padding: 5px 0 0 0;
    float: left;
    width: 45px;
    height: 40px;
}

.pos-cal-month {
    color: #FFF;
}

.pos-cal-day {

    padding-top: 4px;
    font-size: 0.8em;
    color: #fff;
}

/******************************** overwrite jquery ui **************/
.ui-widget {
    font: 12px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #ddd;
}

.ui-icon {
    display: inline-block !important;
}

.ui-autocomplete {
    max-height: 140px;
    overflow-y: auto;
}

/* reset */
.ui-dialog fieldset {
    border: none;
    margin: 0px;
    padding: 4px;
}

.ui-widget select, .ui-widget input {
    padding: 2px;
}

/************************************* tipsy tooltip **********************/
.tipsy {
    padding: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 100000;

}

.tipsy-inner {
    padding: 5px 8px 4px 8px;
    background-color: #191919;
    color: #FFF;;
    max-width: 200px;
    text-align: center;
    -moz-box-shadow: 0 0 6px #333;
    -webkit-box-shadow: 0 0 6px #333;
    box-shadow: 0 0 6px #333;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tipsy-arrow {
    position: absolute;
    background: url('/images/tipsy.gif') no-repeat top left;
    width: 9px;
    height: 5px;
}

.tipsy-n .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px;
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    background-position: bottom left;
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    background-position: bottom left;
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    background-position: bottom left;
}

.tipsy-e .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    right: 0;
    width: 5px;
    height: 9px;
    background-position: top right;
}

.tipsy-w .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    left: 0;
    width: 5px;
    height: 9px;
}

/**********************************End tipsy tooltip **********************/

.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.center {
    text-align: center !important;
}

.cf3a72 {
    color: #cf3a72;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.right {
    float: right;

}

.left {
    float: left;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;

}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

/*
* CSS Styles that are needed by jScrollPane for it to operate correctly.
*
* Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
* may not operate correctly without them.
*/

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: transparent;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #FFF;
    position: relative;
}

.jspDrag {
    border: 1px solid #448be2;
    background: #fff;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: url("/images/ui-icons_448be2_256x240.png") no-repeat scroll 0 0 #fff;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrowDown {
    background-position: -64px 0 !important;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: transparent;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}


.date {
    font-size: 11px;
    color: #333;
}
/* icons for increasing or decreasing input values*/
.increase,.decrease{
    margin: 0 5px;
}