html, body {
	background: url("../images/omega_body_bg.png") repeat-x #f4f6f8;
	margin: 0;
	padding: 0;
	color: #7a7a7a;
	font-family:Arial,Verdana,Tahoma,Helvetica,sans-serif;


}
#wrapper{

	
}
/*Prevent chrome from highlighting the focused input fields*/
input[type="text"], input[type="password"], textarea, select {
	outline: none;
}
legend{
	font-size:1.4em;
	color:#0E5A9D;
	padding: 0 0.5em 0 0.5em;
	font-style:italic;
	 
	
}
fieldset{
	margin:1.3em;
	padding:1.3em;
	border:4px solid #f2f2f2;
}
.fieldset_active{
	border:4px solid #1484E6;
}
a.newB {
	margin: 2px;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 1px 0 #333333;
	background: transparent url(../images/newBtnSprite.png) no-repeat left top;

	height: 26px;
}

a.newB span {
	display: block;
	float: left;
	background: url(../images/newBtnSprite.png) no-repeat scroll right top transparent;
	height: 20px;
	padding: 5px 15px 0px 6px;
	margin-left: 10px;
	cursor: pointer;
}

a.newB:hover {
	background-position: 0px bottom;
	text-shadow: 0;
}

a.newB:hover span {
	background-position: right -26px;
	color: #333;
}

.btn_action{
	text-transform:capitalize;	
	text-align:left;
	cursor:pointer;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #c9c9c9;
	padding:2px 4px 2px 4px;
	display:inline-block;
	margin: 2px;
	font-weight: bold;
	font-size: 14px;
	color: #1484E6;
	text-decoration: none;
	background: url(../images/btn_action_bg.png) repeat-x;

}
.btn_action span{
	
}


.formBtn {
	margin: 2px;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 1px 0 #333333;
	background: url(../images/formBtn.png) no-repeat left top transparent;
	height: 26px;
}

.formBtn input {
	border:none;
	display: block;
	float: left;
	background: url(../images/formBtn.png) no-repeat scroll right top transparent;
	height: 20px;
	color:#1484E6;
	font-weight:bold;
	margin: 0 0px 0 4px;
	padding:2px 4px 0 0 ;
	*padding-top:3px;
	cursor: pointer;
}

.inputActive {
	border: 1px solid #148bf3;

}

.inputInvalid {
	border: 1px solid #c52f24 !important;
}
.inputValid {
	border: 1px solid #58CC68;

}

form input, form textarea {

	font-size: 1.2em;
	border: 1px solid #dfe4e8;



	color: #284966;
}

form input.inputSmall {
	width: 4em;
}

form input.inputMid {
	width: 8em;
}

form input.datepicker {
	width: 8em;
}

form input.timePicker {
	width: 6em;
}

form label {
	color: #0E5A9D;
	font-size: 1.2em;
float:left;
	min-width: 130px;
	height: 16px;
}
#loginPanel form label{
	float:none;
}
form p label.error {
	
	padding: 0 0 0 4px;
	color: #c52f24;
	font-size: 1em;
}

form .formActions {
	height: 2em;
	padding: 4px;
}



h1 {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-transform:capitalize;
	text-shadow: 0 1px 0 #999;
	line-height: 26px;
	text-indent: 1.2em;
	font-size: 14px;
	font-weight: bolder;
	padding: 0px;
	margin-bottom: 0px;
	background: url(../images/h1Bg.png) repeat-x;
	color: #FFF;
    
}
#right h1
{
	background: url(../images/h1BgLight.png) repeat-x;
	color:#1484E6;
	text-shadow: none;
	
}




.posDate
{
	background: url("../images/calBg.png") no-repeat;
	text-align:center;
	font-family: georgia, serif;
	font-size: 14px;
	font-style: italic;
	padding: 10px 0 0 0;

	float:left;
	width:59px;
	height: 70px;
	margin-right: 2em;
}
.posCalMonth{

	color:#FFF;
}
.posCalDay{
	font-size:1.3em;
	padding-top:8px;
	color:#106AB7;
}
.posDetails
{
width:80%;
float:left;
}
.posActions
{
	float:right;
	display:inline;


}




a {
	color: #1484e6;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	list-style: none;
}



#head {
	
}

#topBar {
	height:30px;
    padding-top:4px;
    vertical-align:bottom;
}
#content{
    margin:1em;
}

#content p {
    line-height: 1.3em;


width:auto;
}
#content_wrapper {

    font-size:0.75em;
    position:relative;
    top:50px;
	text-align: left;

}

#loginWrapper {
	
	top: 18px;
	right: 10%;
	width: 240px;
	height:130px;
	z-index: 9999;
	display: none;
	position: fixed;
	margin-top: 4px;
	color: #0E5B9D;
	background: url("../images/loginBg.png") bottom no-repeat transparent;
	
}
#loginFailed
{

	font-size:0.8em;
	position:relative;
}

#search{
    background: url("../images/omega_search_input.png");
    width:108px;
    height:20px;
    float:right;
}
#search input{
    font-size:0.7em;
    color:4d4d4d;
    margin:2px 2px 0 0;
    height:16px;
    width:80px;
    border:0px;
    float:right;
}
#search_submit{
    margin-top:1px;
    margin-left: 4px;
    float:right;
}
#loginPanel {
    font-size:0.7em;
	text-align: right;
	padding: 26px 0 0 0;
	*padding: 16px 0 0 0 !important;
}

#loginPanel input {
	
}

#loginPanel p {
	margin: 0.5em 0 0.5em 0;
}

#loginCtrl {
	padding: 0 0 4px 0;
}

#ctlrBar {
    font-size:0.8em;
    margin-left:1em;
	float:right;
	top: 2px;
    
}
#ctlrBar span {
    background: url("../images/omega_divider_4d4d4d.png") repeat-x bottom;
    color:#4d4d4d;
    text-shadow:0 1px 0 #FFF;
}


.btnCtrl {
	padding: 0;
	line-height: 20px;
	height: 20px;
	cursor: hand;
	display: inline-block;
	margin: 2px;
	background-color: #F5F5F5;
	border-color: #EEEEEE #DEDEDE #DEDEDE #EEEEEE;
	border-style: solid;
	border-width: 1px;
	color: #284966;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 80px;
}

#left {
	text-align: left;
	float: left;
	width: 70%;

}

#right {
	text-align: left;
	float: right;
	width: 25%;
    
}



h1 + .arrow {
	height: 12px;
	display: block;
	background: url(../images/arrow.png) no-repeat scroll 4em 0;
}
h1 + .arrowGrey {
	height: 12px;
	display: block;
	background: url(../images/arrowGrey.png) no-repeat scroll 2em 0;
}
.eventLi {
	height: 10px;
	display: block;
	background: url(../images/eventLi.png) no-repeat 0 0;
}

#badge {
	width: 160px;
	height: 157px;
	display: block;
	background-image: url(../images/badge.png);
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10000;
}





#socialize {
	position: absolute;
	left: 0;
	bottom: 30%;
}

#socialize ul {
	width: auto;
}

#socialize li {
	margin: 4px;
	background: url(../images/socialIcons.png) no-repeat;
	padding-left: 50px;
	height: 40px !important;
}

#socialize li#liTwitter {
	background-position: 0 0;
}

#socialize li#liRss {
	background-position: 0 -40px;
}

#socialize #liFBook {
	background-position: 0 -80px;
}

.center {
	margin: 0 10% 0 10%;
        max-width:1200px;   
}



/* Errors and validation */
.fieldWithErrors input {
	border: 1px solid #c52f24;
}

span.error {

	color: #c52f24;

}

#errorExplanation h2 {
	text-indent: 2em;
	background: url(../images/icons/exclamation-red.png) no-repeat left white;
	color: #c52f24;
	border: 1px solid #c52f24;
}

#errorExplanation li {
	padding:0px;
	text-indent: 1em;
	border-left: 4px solid #c52f24;
	font-style: italic;
}

#events {
	height: 175px;
	overflow: hidden;
}

/*Panel layout with shadow and rounded corners*/
#liquid-round {
	margin: 0px auto;
	background: white url(../images/leftside.gif) repeat-y left top;
}






/*Icons*/
.icon-add, .icon-edit, .icon-delete, .icon-date, .icon-user, .icon-group {
	display:block;
	height:16px;
	background: url(../images/icons/iconSprite.png) no-repeat;
	text-indent: 20px;
}
.icon-date {
	background-position: 0 -16px;
}
.icon-add{
	background-position: 0 -32px;
}
.icon-edit {
	background-position: 0 -48px;
}
.icon-delete {
	background-position: 0 -64px;
}
.icon-user {
	background-position: 0 -112px;
}
.icon-group {
	background-position: 0 -128px;
}




.btnCust {
	color: #1484e6;
	margin: 2px;
	float: left;
	position: relative;
	cursor: pointer;
	height: 21px;
	min-width: 90px;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 14px;
	
}

.btnCustLeft, .btnCustMiddle, .btnCustRight {
	background: url("../images/btnSprite.png") repeat scroll 0 0 transparent;
	height: 21px;
	line-height: 21px;
	position: absolute;
	text-align: center;
}

.btnCustRight {
	
	background-position: 0 -42px;
	right: 0;
	width: 5px;
}

.btnCustMiddle {
	background-position: 0 -21px;
	background-repeat: repeat-x;
	left: 5px;
	min-width: 80px;
}

.btnCustLeft {
	background-position: 0 0;
	width: 5px;
}

.btnCustMiddle > input {
	cursor: pointer;
	height: 18px;
	text-transform: capitalize;
	font-weight: bold;
	border: none;
	background: none;
	color: #1484e6;
	font-size: 14px;
	font-weight: bold;
}

/*
* Overwrite jquery ui theme roller styles
*
*/
.ui-tabs .ui-tabs-panel{
	border: 0px !important;
}
.ui-datepicker-calendar thead tr{
	border:1px solid #dfe5e7;
	background: url("../images/calThBg.png") repeat-x;
	color:#05243f;
}
.ui-widget-header{
	border:0px !important;
}
.ui-tabs .ui-tabs-panel {
	padding:0px !important;
}

.ui-datepicker-calendar .ui-state-default {
	border: 0px !important;
	background: #dfe5e7 !important;
	-moz-border-radius: 2px;
	color:#666 !important;
}
.ui-datepicker-calendar tr{
	background:none;
}
.ui-dialog .ui-dialog-buttonpane button {
	padding: 0 .6em 0 .6em !important;
}

.ui-dialog {
	border: 1px solid #294a66 !important;
}

.ui-widget-content {
	border: none !important;
}

.ui-tabs .ui-tabs-nav {
	padding: 0.4em 0.6em 0 !important;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.2em !important;
}



#ui-datepicker-div, #ptTimeSelectCntr {
	border: 1px solid #294a66 !important;
}



.ui-widget-header .ui-state-active {
	text-shadow: 0 1px 0 #333333;
	background: url(../images/h1Bg.png) repeat-x !important;
}

#right .ui-datepicker {
	width: auto !important;
}
.ui-datepicker table {
	border: 0px;
}
/*reset*/
.ui-datepicker th {
	background:none;
}
.cbb {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #666666;
	margin: 1em 0;
	padding: 0 10px;
}

.cb {
	margin: 0.0;
}

.bt {
	background: url("../images/roundedBg.png") no-repeat scroll 100% 0 transparent;
	height: 30px;
	margin: 0 0 0 18px;
}

.bt div {
	background: url("../images/roundedBg.png") no-repeat scroll 0 0 transparent;
	font-size: 0;
	height: 30px;
	left: -18px;
	line-height: 0;
	position: relative !important;
	width: 18px;
}

.bb {
	background: url("../images/roundedBg.png") no-repeat scroll 100% 100% transparent;
	height: 44px;
	margin: 0 0 0 12px;
}

.bb div {
	background: url("../images/roundedBg.png") no-repeat scroll 0 100% transparent;
	font-size: 0;
	height: 44px;
	left: -12px;
	line-height: 0;
	position: relative !important;
	width: 12px;
}

.i1 {
	background: url("../images/borders.png") repeat-y scroll 0 0 transparent;
	padding: 0 0 0 4px;
}

.i2 {
	background: url("../images/borders.png") repeat-y scroll 100% 0 transparent;
	padding: 0 4px 0 0;
}

.i3 {
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	margin: 0;
	padding: 1px 10px;
}

.i3:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.i3 {
	display: inline-block;
}

.i3 {
	display: block;
}




.content li
{

	background: url("../images/liSeparator.png")  bottom transparent repeat-x;
	
}
.sep_li_h{
	background: url("../images/liSeparator.png")  bottom transparent repeat-x;
}
.sep_li_v{
	background: url("../images/sep_li_v.png")  right transparent repeat-y;
}


.go{
	width:21px;
	height:21px;
	background: url("../images/btnGo.png")  no-repeat;
}
.toolTip
{
	display:none;
	opacity:0.9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-align:center;
	height:1.4em;
	background:#106AB7;
	padding:4px;
	width:150px;
	top:-34px;
	left: -68px;
	position:relative;
	z-index:1000;
}
.toolTip a{
	font-style:normal;
	color:#FFF;
}

div + .toolTipArrow {
	margin:5px;;
	height: 5px;
	display: block;
	background: url(../images/arrowTransparent.png) no-repeat scroll 50% ;

}
.article{
	color: #093B66;
	font: "Verdana";
	
}

.articleDescribtion{

	padding: 1em;
	text-align:justify;
	

	width:50%;
	float:left;
}
.articleDetails{
	padding: 1em;
	float:left;
	background: url("../images/hSeparator.png") repeat-y left;
}

.sep_right{
	background: url("../images/hSeparator.png") repeat-y right;
}


.notice{
	font-weight:bold;
	padding: 4px;
	background: #58CC68;
	color: #FFF;
}

.fieldDescribtion
{
	font-weight:bold;
}
.content li
{
	padding:1em 0 1em 0;
}
table{
	border-collapse: collapse;
	width:100%;

}

th{
	vertical-align: middle;
	color:#0E5A9D;
	border:1px solid #C6CCCD;
	background: url("../images/calThBg.png") repeat-x;
	text-align:left;
	font-size:12px;
}
td{
	font-size:13px;
	vertical-align:middle;

}
tr{
	color:#646767;

vertical-align:bottom;
}
.trHover{
	background: #5BAAF0 !important;
	color:#FFF !important;
}
.trHover a {
	color:#FFF !important;
}
.odd{
	background: #FFF;
}
.even{
	background:#EDF3F4;
}
.head_bg{
	height:24px;
	font-weight:bold;
	padding:2px;
	color:#0E5A9D;
	border-bottom:1px solid #C6CCCD;
	background: url("../images/calThBg.png") bottom repeat-x;
	text-align:left;
	font-size:12px;
}
.clear{
	clear:both;
}

.img_module{
	margin-left:2em;
}
#logo{
	left:10%;
	position:absolute;
	top:10px;
	width:78px;
	height:78px;
	display:block;
	background: url("../images/logo.png");
}
.content {
	color:#999999;
}

.ui-widget-content {
    background: transparent !important;
}