#accounts th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 20px;
	border-bottom: 2px solid #6678b1;
}

#accounts td
{
	color: #669;
	padding: 9px 20px 0px 20px;
}

#accounts tbody tr:hover td
{
	color: #009;
}
