#time_picker {
    display: none;
    text-align: left;
    border: 1px solid #999;
    overflow: hidden;
    height: 14em;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    background: #f2f2f2;
    list-style: none;
    z-index: 10000;
}

#time_picker li {
    *float: left;
    text-indent: 0;
    margin: 0;
    padding: 0.1em 0.2em;
    cursor: pointer;
}

.tpickr_li_over {
    background: #1484E6;
    color: #FFF;

}

#scheduler {
    margin: 2em 0;
    display: none;
}

#scheduler table {
    width: auto;
}

#time_slider {
    width: 300px;
}

#scheduler li {
    background: none;
    padding: 0;
}

.sel_wday {
    width: 100px;
    padding: 0.5em;
}

.schedule {
    display: none;
}

.posDate {
    background: url("../images/calBg.png") no-repeat;
    text-align: center;
    font-size:1.3em;
    padding: 10px 0 0 0;

    float: left;
    width: 59px;
    height: 70px;
    margin-right: 1em;

}

.posCalMonth {

    color: #FFF;
}

.posCalDay {
    font-size: 1.7em;
    padding-top: 8px;
    color: #285370;
}





.position {
    
    position: relative;
    padding: 0.5em;
    border-bottom: 1px dotted #285370;

}

.position_hover {
    border-color: #DFE5E7;

}



#positions_list .position_details li {
    float:left;
    background: none !important;
    padding: 5px;
    
}



.position_actions a {
    font-size: 14px;
    color: #C2366B;
    font-weight: bold;
}



.position_actions{
    width:100%;
    background:#FFF;
    display:none;
    position: absolute;
    right:0;
    
    bottom: 0;
    
    z-index:100;
    
}
.position_details {
display:none;
}
.postions_crl{
    margin: 0 0 1em 0;
}
.skill_tag {
    margin:0 0.3em 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding:0.3em;
    display: inline-block;
    background: url("../images/tag_bg.png") repeat-x bottom;

}
.skill_tag a {
    letter-spacing: 2px;
       
    font-size:0.9em;
    color: #162d3d;

}