#letter-list li {
  float:left;

}
#letter-list li span {
    -moz-border-radius: 2px 2px 2px 2px;
    background: url("../images/om_button_bg.png") repeat-x scroll center bottom transparent;
    border: 1px solid #BBBBBB;
    color: #002A5C !important;
    margin-right: 2px;
    padding: 2px 6px 1px;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #FFFFFF;
    text-align: center;
    width:10px;
    display:block;
}
#letter-list  a {
    color:#002A5C;
}
#vcard dt {
    color:#162D3D;
    float:left;
    width:150px;
}
#vcard dl {
    line-height:1.4em;
}
#sidebar-search {
    background: url("../images/search_blue.png");
    width: 218px;
    height: 45px;
    margin: 10px 0 20px 15px;
}

#sidebar-search input {
    margin: 12px 0 0 25px;
    border: none;
    height: 20px;
	width: 130px;
}

#skills ul {
	left-margin:50px;
}
	div#contact_submit{
		text-align:center;
		width:600px;
		margin:auto;
	}
	#row_header{
		text-align: center;
	}

	h3.content-heading{
		background-color: green;
	}

div.draggable {
	width: 85px;
	height: 15px;
	font-weight: bold;
	border-radius: 10px;
	-mos-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	background-color: lightBlue;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	border-style: solid;
	border-width: 1px;
	//*background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.82, #687DD1),
		color-stop(0.65, #4B67E3)
	);*//
}

div#other {
	background-color: green;
	color: white;
}

div#droppable_skills, #droppable_interests, #other_interests, #other_skills{
	left: 250px;
	top: 0;
	background: #ded7c6;
	border: 1px solid #F0D8A8;
	border-radius: 5px;
	-moz-border-raduius: 5px;
	-webkit-border-radius: 5px;
	color: white;
	padding: 10px;
	min-height: 125px;
	max-width: 360px;
}

div#other_skills, #other_interests{
	margin-top: 20px;
}

table#skills, #interests {
	margin-left: 13%;
}

table, tbody, tfoot, thead, tr, th, td{
    vertical-align: top;
}

table:nth-child(2) tr p{
	margin-left:20%;
}

div#positions{
	background-color: #EEE;
	margin: 0 70px 0 70px;
}
