#letter-list li {
  float:left;

}
#letter-list li span {
    -moz-border-radius: 2px 2px 2px 2px;
    background: url("../images/om_button_bg.png") repeat-x scroll center bottom transparent;
    border: 1px solid #BBBBBB;
    color: #002A5C !important;
    margin-right: 2px;
    padding: 2px 6px 1px;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #FFFFFF;
    text-align: center;
    width:10px;
    display:block;
}
#letter-list  a {
    color:#002A5C;
}
#vcard dt {
    color:#162D3D;
    float:left;
    width:150px;
}
#vcard dl {
    line-height:1.4em;
}
#sidebar-search {
    background: url("../images/search_blue.png");
    width: 218px;
    height: 45px;
    margin: 10px 0 20px 15px;
}

#sidebar-search input {
    margin: 12px 0 0 25px;
    border: none;
    height: 20px;
	width: 130px;
}

#skills ul {
	left-margin:50px;
}
	div#contact_submit{
		text-align:center;
		width:600px;
		margin:auto;
	}
	#row_header{
		text-align: center;
	}

	h3.content-heading{
		background-color: green;
	}

div.draggable {
	width: 85px;
	height: 15px;
	font-weight: bold;
	border-radius: 50px;
	-mos-border-radius: 50px;
	-webkit-border-radius: 50px;
	padding: 10px;
	background-color: lightBlue;
}

div#other {
	background-color: blue;
	color: white;
}

div.droppable_skills, .droppable_interests {
	left: 250px;
	top: 0;
	background: gray;
	border-radius: 5px;
	-moz-border-raduius: 5px;
	-webkit-border-radius: 5px;
	color: white;
	padding: 10px;
	min-height: 125px;
}

table, tbody, tfoot, thead, tr, th, td{
    vertical-align: top;
}
