table.accounts
{
	margin: 60px auto 0 auto;
}

#accounts th
{
	font-size: 18px;
	font-weight: bold;
	color: #555;
	padding: 10px 20px;
	border-bottom: 2px solid #555;
}

#accounts td
{
	color: #555;
	padding: 9px 20px 0px 20px;
	font-size: 16px;
}

#fb input 
{
	margin: 0 0 0 50px;
	font-size: 16px;
	color: #555;
}

#accounts tbody tr:hover td
{
	color: #555;
	font-size: 16px;
}

#accounts td
{
	height: 40px;
}
