
table table{
	border: none;
}
tr tr{
	background:none;
}

#contact_fields{
	float:left;
	color:#072E50;


}
#contact_image{
	background:url("../images/contact_image_bg.png");
	width:150px;
    height:155px;

	float:right;
}
#contact_image img{
	padding: 5px;
}

.contact_field{
	margin:1em 0 1em 0;
	font-size:1.2em;
}
.contact_fields{
color:#072E50;
}
.contact_label{
	
	font-weight:bold;
}

#ajax_loading_img{
	position:absolute;
	top:50%;
	background:url("../images/ajax-loader.gif");
	left:50%;
	display:block;
	width:32px;
	height:32px;
	
}
#ajax_loading_wrapper{
    
	position: absolute;
	background:#FFF ;
	display:none;

}
#contact_filter_wrapper{
	float:left;
	background:url("../images/filterBg.png");
	width:148px;
	height:24px;
}
#contact_filter{
	float:left;
	width:80px;
	position:relative;
	top:4px;
	left:4px;
	border:0;
	padding:0;
	background:transparent;
}
#clear_filter{
	cursor:pointer;
	display:none;
	position:relative;
	float:right;
	width:16px;
	height:16px;
	background: url("../images/iconSprite.png") 0 -80px;

}
#contact_filter:focus 
{
    outline:none;
}
.magnifier{
	float:right;
	display:block;
	position:relative;

	width:16px;
	height:16px;
	background: url("../images/iconSprite.png") 0 -96px;

}
#filter_ctrl{
	position:relative;
	top:4px;
	right:4px;
	float:right;
	width:32px;	
}

#cm td {
    vertical-align:top;
    font-size:0.8em;
}
#contacts_groups, #contacts,#contacts_contact_pane{
    
    padding: 1px;
    height: 570px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.ui-autocomplete {
    width: 130px !important;
    -moz-border-radius: 4px;
    border:1px solid #1484e6 !important;
}
#cm{
overflow-y: hidden;
    border:1px solid #D2E2E2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}#cm_contact{
padding:1em;

}
#contacts_groups,#contacts{
    width:200px;
}
#contacts_contact_pane{
    padding:1em;
    position:absolute;
    left:440px;
    right:1em;
    width:auto;
    margin-right:1em;
}
#contact_mgm{
    border:1px solid #09A6B3;
    height:2em;
}

.highlight {
    font-weight:bold;
    color:#055F67;
}