#letter-list li {
  float:left;

}
#letter-list li span {
    -moz-border-radius: 2px 2px 2px 2px;
    background: url("../images/om_button_bg.png") repeat-x scroll center bottom transparent;
    border: 1px solid #BBBBBB;
    color: #002A5C !important;
    margin-right: 2px;
    padding: 2px 6px 1px;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #FFFFFF;
    text-align: center;
    width:10px;
    display:block;
}
#letter-list  a {
    color:#002A5C;
}
#vcard dt {
    color:#162D3D;
    float:left;
    width:150px;
}
#vcard dl {
    line-height:1.4em;
}
#sidebar-search {
    background: url("../images/search_blue.png");
    width: 218px;
    height: 45px;
    margin: 10px 0 20px 15px;
}

#sidebar-search input {
    margin: 12px 0 0 25px;
    border: none;
    height: 20px;
	width: 130px;
}

#skills ul {
	left-margin:50px;
}
