div.accounts {
	border: 1px solid #BE8816;
}

div.heading-main-columns-settings {
	width: 950px;
	height: 80px;
	margin: 0 0 0 0;
	background: url("../images/h1_page_content_bg_evergreen_1.png") repeat-x bottom #E1DFCB;
}

h3.settings-form {
	background: #87B5CA;
	text-shadow: 1px 1px 1px #666;
	color: #fff;
	font-family:"Trebuchet MS";
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	height:25px;
	width: 930px;
	padding: 5px 0 0 20px;
	margin: 45px 0 25px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#settings-logo {
	position: relative;
	top: -25px;
	left: 35%;
    background: url("../images/application/logo.png") no-repeat left;
    width: 260px;
	height: 60px;
	z-index: 1;
}

div.heading-main-columns-settings {
	width: 950px;
	height: 80px;
	margin: 0 0 0 0;
	background: url("../images/h1_page_content_bg_evergreen_1.png") repeat-x bottom #E1DFCB;
}

