  <div id="instruction">
    <p>
        Click an asset from the left column to view services currently using this asset.<br/>Or
        click a service from the right column to view assets currently assigned to this service.<br/><br/>
        Then drag and drop items between the rest two columns to re-allocate.
    </p>
  </div>

  <div id="dynamic_view" class="view"></div>
  <div id="static_view" class="view"></div>

