<div id="assets_list_area">
  <%= render "assets_list_area" %>
</div>
<div id="working_list_area">
  <%= render "working_list_area" %>
</div>
<div id="leaf_services_list_area">
  <%= render "leaf_services_list_area" %>
</div>
