<% leaf_service ||= @leaf_service %>

<div><%= leaf_service.name %></div>
<div>Assets Assigned</div>
<div>
  <ul>
    <% leaf_service.service_leaf.assets.each do |asset| %>
      <li>
        <%= asset.name %>
        <ul>
          <% leaf_service.time_overlapping_services_by_asset(asset).each do |time_overlapping_service| %>
            <li>Conflicting with <%= time_overlapping_service.name %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
