<fieldset id="leaf_services_list_fieldset" class="list_fieldset active">
  <legend>All Services</legend>
  <div id="leaf_services_list_block" class="list_block">
    <%= render "leaf_services_ul" %>
  </div>
</fieldset>

