<% require_stylesheet 'share.css' %>
<% require_stylesheet 'asset_allocation.css' %>
<%# require_javascript "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
<%# require_javascript "jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js" %>
<% require_javascript "jquery.timers-1.1.2.js" %>
<% require_javascript 'util.js' %>
<% require_javascript 'ui_util.js'%>
<% require_javascript 'asset_allocation/index.js'%>

<script type="text/javascript">
  var assets = <%= raw @assets.to_json(:only=>[:id, :name, :description], :include=>{
    :service_leaves=>{
      :only=>[:id],
      :include=>{
        :service=>{
          :only=>[:id,:name,:description]
        }
      }
    }
  }) %>
  var leaf_services = <%= raw @leaf_services.to_json(:only=>[:id,:name,:description], :include=>{
    :service_leaf=>{
      :only=>[:id],
      :include=>{
        :assets=>{
          :only=>[:id,:name,:description]
        }
      }
    }
  }) %>
</script>

<div class="content circle-corners-bottom" >
  <div class="heading-main">
    <h1 class="page-content">
      <%= render "index_page_title" %>
    </h1>
  </div>

  <div class="page_content" id="asset_allocation_page_content">
    <%= render "index_page_content" %>
  </div>
</div>


