<div id="group-request-created-dialog-message" class="dialog" title="Group Request Sent">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Your request to join the group has been sent.
  </p>
  <p>
    Please wait for approval.
  </p>
</div>
