<div id="group-request-destroyed-dialog-message" class="dialog" title="Request Canceled">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    The request has been canceled.
  </p>
</div>
