<% require_javascript 'thirdParty/jquery.validate.js', 'form_builder.js' %>
<% require_stylesheet 'thirdParty/jquery.fullcalendar.css', 'omega_form_builders.css' %>

<h1>High Fidelity Form Builder</h1>
<div id="custom_form_preview_port">
<form action="">

    <ol id="custom_form" class="sortable">
      <li>Please drag an element form the left to this area</li>

  </ol>
    
</form>

</div>

<% content_for :sidebar do %>
    <!-- TODO Refactor code in to seperate layout -->
    <div class="widget_control"></div>
    <h1>Form Elements </h1>
    <div class="widget_content">
      <div id="fb_elements">
        <ul>
          <li>
            <span class="ui_icon ui_em_checkbox left"></span>Checkbox
          </li>
          <li>
            <span class="ui_icon ui_em_paragraph left"></span>Paragraph
          </li>
          <li>
            <span class="ui_icon ui_em_textarea left"></span>Textarea
          </li>
          <li>
            <span class="ui_icon ui_em_input left"></span>Text Input
          </li>
          <li>
            <span class="ui_icon left"></span>Data Input (choose a filter)
          </li>
          <!--<li>-->
            <!--<span class="ui_icon ui_em_data_table left"></span>Data Table-->
          <!--</li>-->
          <li>
            <span class="ui_icon ui_em_date left"></span>Date
          </li>
          <li>
            <span class="ui_icon ui_em_select_box left"> </span>Select Box 
          </li>
          
          <li>
            <span class="ui_icon ui_em_map left"></span>Map
          </li>
          <li>
            <span class="ui_icon ui_em_checkbox left"></span>Label withCheckBox
          </li>
        </ul>
      </div>
    </div>


<% end %>

<% content_for :rows do %>
    <!-- TODO Refactor code in to seperate layout -->
    <div class="widget_control"></div>
    <h1>Configure Form Elements </h1>
    <div class="widget_content">
<div id="fb_element_options">



</div>

      

    </div>

<% end %>