<% require_javascript 'service_wizard.js' %>
<% require_stylesheet 'omega_services.css' %>

<div class="wizard-header-services corners-top">
			
    <h1 class="service_wizard " >
		CREATE NEW SERVICE TYPE 
	</h1>
	
</div>


<div class="page-content-services">
 
  <%= yield %>  
  

</div>