<%= side_bar_box('Introduction') do %>
    <ul id="services-sidebar">
      <li class="active relative">
        <div class="step-nail step-1-active"></div>
        Introduction
        Introduction to the process of creating a service.
      </li>
      <li class="relative">
        <div class="step-nail step-2"></div>
        Choose Service Type
        Provides you with a list of typical types of services to choose from.
      </li>
      <li class="relative">
        <div class="step-nail step-3"></div>
        Service Details
        Enables you to customize the service by choosing a name and list of fields you would like to
        add.
      </li>
      <li class="relative">
        <div class="step-nail step-4"></div>
        Registration Form
        Enables you to customize the service registration by adding/removinga list of fields.
      </li>
      <li class="relative ">
        <div class="step-nail step-5"></div>
        Finalize
        Gives you a summary of the service you are about to create and publishit to finish the
        process.
      </li>
    </ul>
<% end %>