<div class="content circle-corners-bottom-left">

<div class="heading-main">

		<h1 class="page-content">
			Edit a Component
		</h1>



</div>


<div class="main-box">
		<%= render 'form' %>
</div>

</div>
