<div class="role_operation_links round shadow">
  <%= link_to_function om_button(:plain => true, :icon => 'edit'){}, "edit_role()" %>
  <%= link_to om_button(:plain => true, :icon => 'delete'){}, {}, :method=>:delete %>
</div>