<% require_javascript 'https://www.google.com/jsapi' %>
<% require_javascript 'report.js' %>
<% require_stylesheet 'report.css' %>

<div id="report_menu">
  <%= render "menu" %>
</div>
<div id="report_submenu">
  <%#= render "submenu" %>
</div>

<div id="report_content">
  <%= render "content" %>
</div>

<div id="report_print">
  <%= render "print" %>
</div>

