div.csv-container{
    height: auto;
    min-height: 550px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    padding:0.5em;

}

div.content{
    height: auto;
    overflow:hidden;
    min-height:70px;
    width: 100%;

}

div.helptext{
    height: auto;
    overflow:hidden;
    -moz-border-radius: 4px;
    background: #ffffdd;
    padding: 0.5em;
    border: 1px solid #dddddd;


}
.csv-table tr {
    height: 35px;
}

.csv-table th {
    background: #777777;
    border-color: #DDDDDD #DDDDDD #C3C3C3;
    border-style: solid;
    border-width: 1px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 0.5em;
}

.csv-table tbody {
    margin-top: 10px;
}

.csv-table td {
    border: 1px solid #DFE5E7;
    color: #191919;
    padding: 0 10px;
    text-align: center;
    width : auto;
}

table.csv-table {
    margin:1em 0;
    width: 100%;
    font-size: 1em;
    border-collapse: collapse;
}


/* Wizard steps */
#wizard-intro li{

    float:left;
    width:175px;
    margin:10px !important;

}

#wizard-intro li {
    color: #333;
    border: 1px solid #4096ee;
    height: 90px;
    margin: 20px 4px;
    padding: 10px 10px 10px 30px;
    background: url("/images/omega_services.png") top left no-repeat #fff;
}

#wizard-intro li.active {
    font-weight:bold;
    color: #cf3a72;
    border: 1px solid #cf3a72;
    background-position: 0 -110px
}
#wizard-intro li h3 {
    font-weight:bold;
}
#wizard-intro li.active h3{

    color: #421325;
}
div.step-nail {
    background-image: url("/images/omega_services.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -15px;
    left: -15px;
}

div.step-1-active {
    background-position: 0 -224px
}

div.step-2-active {
    background-position: 0 -246px
}

div.step-3-active {
    background-position: 0 -268px
}
div.step-4-active {
    background-position: 0 -290px
}

div.step-5-active {
    background-position: 0 -312px
}
div.step-1{
    background-position: 0 -334px
}

div.step-2 {
    background-position: 0 -356px
}

div.step-3{
    background-position: 0 -378px
}
div.step-4 {
    background-position: 0 -400px
}

div.step-5 {
    background-position: 0 -424px
}
.wizard-explanation{
    
    display:none;
    height:0;

}
span.read-more{
    font-weight:bold;
color:#666;
}
