


.user_image{
	background:url("/images/contact_image_bg.png");
	width:150px;
    height:155px;
    position:relative;
    top:0;
	float:right;
}
.user_image img{
	padding: 10px;
}

#contact_filter_wrapper{
	float:left;
	background:url("/images/filterBg.png");
	width:148px;
	height:24px;
}
#ac-contacts{
	float:left;
	width:80px;
	position:relative;
	top:4px;
	left:4px;
	border:0;
	padding:0;
	background:transparent;
}
#clear_filter{
	cursor:pointer;
	display:none;
	position:relative;
	float:right;
	width:16px;
	height:16px;
	background: url("/images/iconSprite.png") 0 -80px;

}
#ac-contacts:focus 
{
    outline:none;
}
.magnifier{
	float:right;
	display:block;
	position:relative;

	width:16px;
	height:16px;
	background: url("/images/iconSprite.png") 0 -96px;

}
#filter_ctrl{
	position:relative;
	top:4px;
	right:4px;
	float:right;
	width:32px;	
}


#contacts_groups, #contacts,#contacts_contact_pane{
    
    padding: 1px;
    height: 570px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.ui-autocomplete {
    width: 130px !important;
    -moz-border-radius: 4px;
    border:1px solid #1484e6 !important;
}
#cm{
    text-align:left;
    position:relative;
overflow-y: hidden;
    overflow-x:hidden;
}#cm_contact{
padding:1em;

}
#contacts_alphabet{

    width:25px;
}
#contacts_alphabet li span{
    display:block;
    margin:2px;
    text-align:center;
    background: #002A5C;
    padding:0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;

}
#contacts_alphabet a {
    color:#FFF;
}
#contacts_groups,#contacts{
    width:200px;
}
#contacts_contact_pane{
    padding:1em;
    position:absolute;
    left:440px;
    right:0;
    top:45px;

 
}
#contact_mgm{
    border:1px solid #09A6B3;
    height:2em;
}

.highlight {
    font-weight:bold;
    color:#055F67;
}

#contacts_groups li {

    padding:0  0  0 4px;
}
#contacts table {
    
    width:180px;
    border-collapse: collapse;
}
#cm table tr {
    height:20px;
}
#cm table td{
    vertical-align:top;
    padding:2px;
}


#contacts_groups{
    position:relative;
    overflow-y: hidden;
}
#contacts_groups .ui-accordion-content{
    margin:0;
    padding:0;
}
