<div id="group-request-is-member-dialog-message" class="dialog" title="Already a Member">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    You are already a member of <strong class="italic"><%= group.name %></strong>.
  </p>
</div>
