<body>
<div id="fb">
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({ appId: '117866098303408', cookie:true, status:true, xfbml:true });
		function fb_message(){
			user_message = document.messageForm.message.value;
			FB.ui({ method: 'feed', message: user_message});
		}
  </script>
	<%= render 'layouts/settings' %>




	<% if (current_user.is_admin? and !@fb_enabled) then %>
		<!-- <button onclick="fb_message()"> Message to Facebook </button>
		<button onclick="FB.ui({ method: 'feed', message: 'Facebook for Websites is super-cool'})"> Message to Facebook </button>
		!-->

		<!--<fb:login-button perms="offline_access">Login with Facebook</fb:login-button>!-->





	<% elsif (!current_user.is_admin? and @fb_enabled) then %> 
		<p> Your organization has created a Facebook App.  Just click the link below to log into Facebook.  This will allow you to post from your MyOmega page and keep your friends informed on your organization's activites. </p>
		<fb:login-button perms="offline_access">Login with Facebook</fb:login-button>
	<% end %>





</body>
