<div id="group-member-assign-groups-dialog-message" class="dialog" title="Assigning Memerships<%= " for "+contact.name %>">
  <%= render "groups_members/assign_groups_to_contact", :contact=>contact %>
</div>
