<div id="group-request-not-found-dialog-message" class="dialog" title="Member not found">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    This member does not exist or has already been removed.
  </p>
</div>

