<div id="group-request-create-not-eligible-dialog-message" class="dialog" title="Not Eligible">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    In order to join <strong class="italic"><%= group.name %></strong>, you must be a member of <strong class="italic"><%= group.super_group.name %></strong> first.
  </p>
</div>
