<div id="group-request-create-duplicate-dialog-message" class="dialog" title="Duplicate Request">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Record shows that you have already requested to join this group.
  </p>
</div>
