<% if @type == "admin" %>
  $(".page_content").html("<%= escape_javascript( render "groups_requesters/index_page_content" ) %>")
  load_dialog_message("<%= escape_javascript(render "groups_requesters/dialog_destroyed_message") %>");
<% else %>
  $(".index_list").html("<%= escape_javascript( render "groups/index_list" ) %>")
  <% if @groups_requester.status == "rejected" %>
    dialog_message("group-request-destroy-failed-dialog-message", "Request Denied", "<p>You are not allowed to withdraw, since you have been rejected at the moment.</p>", {width:300})
  <% else %>
    load_dialog_message("<%= escape_javascript(render "groups_requesters/dialog_destroyed_message") %>");
  <% end %>
<% end %>

$(".tipsy").remove();

