<h1 class="page-content corners-top">
  Threads
</h1>

<div class="page-content corners-bottom">
<% @threads.each do |t| %>
  <%= t.title %>
<% end %>
</div>

<% content_for :sidebar do %>
    <%= render :partial => "partials/sidebar_group" %>
    <%= render :partial => "sidebar_groups_threads" %>
<% end %>
