<div id="customization-destroy-dialog-confirm" class="dialog" title="Delete <%= @customization.name %>?">
  <p>
    Are you sure to delete <strong class="italic"><%= @customization.name %>?</strong>
  </p>
</div>