<div id="customization_options">
  
  <div class="left_links">
    <%= link_to "Reset Default", reset_default_customizations_url, :method=>:put, :class=>"operation_button" %>
  </div>
  <script>
    $('.operation_button').button({ icons: {primary:'ui-icon-gear'} });
  </script>
  
  <span class="option" data-tooltip="new customization">
    <label for="new_customization" >New Customization</label>
    <input id="new_customization" name="customization_options" type="radio" onclick="new_customization('<%= new_customization_url %>')" />
  </span>

  <span class="option" data-tooltip="select from existing customizations">
    <label for="select_customization" >Existing Customizations</label>
    <input id="select_customization" name="customization_options" type="radio" onclick="existing_customizations()" />
  </span>
  
  <span id="select_customizations_field">
    <%= render "select_customizations" %>
  </span>
  
</div>

<hr/>

<div id="customization_fields"></div>

<script type="text/javascript">
  <% if @customization %>
    $('#select_customization').click();
  <% else %>
    $('#new_customization').click();
  <% end %>
</script>