<% require_stylesheet 'share.css' %>
<% require_stylesheet 'customization.css' %>
<% require_javascript 'util.js' %>
<% require_javascript 'ui_util.js'%>
<% require_javascript 'customization.js' %>

<div class="content circle-corners-bottom" >
  <div class="heading-main">
    <h1 class="page-content page_title">
      <%= render "index_page_title" %>
    </h1>
  </div>

  <div class="page_content">
    <%= render "index_page_content" %>
  </div>
</div>


