<div id="post-destroy-dialog-confirm" class="dialog" title="Delete <%= post.title %>?">
  <p>
    Are you sure to delete this post?<br/>
    <strong class="italic"><%= post.title %></strong>
  </p>
</div>