.groups_list .group_head.ui-state-default{background:darkseagreen; border:1px solid transparent;}
.groups_list .group_head.ui-state-hover{background:#4096EE;}
.groups_list .group_head.ui-state-focus{background:#4096EE; border:1px solid transparent;}
.groups_list .group_head.ui-state-active{background:#4096EE; border:1px solid transparent;}
