/* data table */
.block_request{margin:0px 0px 7px 0px;}
.block_request label{margin-top:0px;font:12px/1.5em Lucida Grande,Arial,sans-serif,helvetica, arial, freesans, clean; color:#191919}

#request_created_at{width:25%}
#request_updated_at{width:25%}
#requester{width:30%}
#request_status{width:18%}
#delete_request{width:2%}


/* status dialog style */
.edit_groups_requester label{font-weight:normal; width:auto; margin:2px 20px 2px 5px; float:left;}
.edit_groups_requester input{width:auto;float:left;}

/* dialog */
.dialog .label{display: inline-block; min-width: 100px;}

