<%= side_bar_box(:"Services Menu") do %>

<!--
    <ul>

      <% #@types.each do |s| %>

            <%# if (s.published !=true) and !current_user.is_anonymous? %>
              <li>
                <h3>  <%#= s.service_type %> - <%#= s.service_type %> Service </h3>

				<p>
                <%#= om_button(:icon=>'sort-za', :sidebar => true) do %>
                    <%#= link_to "Saved Draft", service_wizard_service_types_url(:step => 2, :id => s) %>
                <%# end %>
                
                </p>
				<p>
                <%#= om_button(:icon=>'delete', :sidebar => true) do %>
                    <%#= link_to "Delete", s, :confirm => 'Are You Sure?', :method => :delete %>
                <% #end %>
				</p>
            <%# end %>

      <% #end %>

    </ul>-->
    <% if (!current_user.is_anonymous?) %>	

	<%= with_permission(Volunteering::PERM_ADMIN) do %>
        <p>
        <%= om_button( :sidebar => true ) do %>

            <%= link_to 'Add New Type', coming_soon_services_url %>
        <% end %>
		</p>


	<%end%>
	<%end%>
<% end %>