<%= context_box do %>

<div class="page-content circle-corners-bottom corners-top">

	
<div class="signup-box">	
	<h2 class="summary">
		Application Sent! 
	</h2>
	
		<p class="summary"> <span class="text-style1"> Your application was successful!
		<br/>
		An email would be sent to your primary email address when an action is taken on your application.</span>

		</p>



		
		
</div>
		
		

  <%#= om_button(:icon => 'next') do %>
            <%#=  link_to "Go To Volunteering Positions", volunteering_positions_url %>
        <%# end %>

</div>
     <% end %>