<%= context_box do %>

<div class="content circle-corners-bottom-left corners-top">

			<div class="heading-main">
	
				<h1 class="page-content">
					Edit Volunteer Information
		    	</h1>
	
		</div>

		
		
		
 		<div class="signup-box">	
			
			
			<%= render 'form' %>
		</div>
<% end %>