<div id="topic-destroy-dialog-confirm" class="dialog" title="Delete <%= topic.title %>?">
  <p>
    Are you sure to delete this topic?<br/>
    <strong class="italic"><%= topic.title %></strong>
  </p>
</div>