<div class="right_links">
  <%= link_to "Back to "+@group.name+" Space", space_group_url(@group), :class=>"operation_button" %>
</div>
<script type="text/javascript">
  $('.operation_button').button({ icons: {primary:'ui-icon-gear'} });
</script>