
<br/>
<strong>Preview Mapped Fields </strong> <br/>

<table>
        <tr>
          <td>

            <table class="csv-table">

               <th class="csv-table">CSV Fields</th>

                <% @import.csv_rows[0].each do |r| %>

                    <tr class="csv-table">

                      <td class="csv-table">
                        <%= r %>
                      </td>
                      
                    </tr>
                <%end%>


            </table>
          </td>

          <td>
             <table class="csv-table">

               <th class="csv-table">Mapped Omega Fields</th>

                <% @import.mapped_rows[0].each do |r| %>

                    <tr class="csv-table">

                      <td class="csv-table">
                        <%= r %>
                      </td>

                    </tr>
                <%end%>


            </table>
          </td>
        </tr>
 </table>

<%= om_button(:icon=>'cancel') do %>
 <%= link_to 'Undo', undo_import_finalize_contact_imports_url(:id => @import) %>
<%end%>