
<h1 class="page-content-evergreen corners-top">
IMPORT CONTACTS INTO OMEGA</h1>
<div class="page-content-evergreen corners-bottom">


<%= link_to 'Next', csv_import_wizard_contact_imports_url(:step => '1')%>


</div>




