<h1 class="page-content corners-top">
  List of Imports
</h1>

<div class="page-content corners-bottom">

  <table>

    <th> Created At </th>   <th> &nbsp;&nbsp;Status </th>

    <% @imports.each do |i| %>

    <tr>

      <td>
        <strong>
        <%= i.created_at.utc.strftime('%Y-%m%d %H:%M:%S')%> <br/>
        </strong>
      </td>


       <td>
        &nbsp;&nbsp;
         <strong>
         <%= i.status%>
         </strong> <br/>
      </td>

    </tr>
    <%end%>
  </table>



</div>