
<h1 class="page-content corners-top">
STEP 2</h1>
<div class="page-content corners-bottom">


<h2><strong>Import Data from a CSV</strong></h2>

<%= form_for @import, :html => { :multipart => true } do |f| %>
  <p>
    <strong> File: <%= f.file_field :csv %> <br/>
    Data Type: </strong><%= f.select :datatype, %w{contacts}%> <br/>

  </p>

  <p>
    <br/>
    <%= f.submit "Upload", :name => "upload" %>
  </p>
<% end %>


</div>











