.list_block{height:500px; overflow:auto;}
.list_fieldset{   
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -border-radius:5px;

    border:1px solid transparent;
    background: transparent;
    height:530px;
}
.list_fieldset.active{
    background: #eee;
}
.list_fieldset legend{
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -box-shadow: 3px 3px 3px #ccc;
    
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -border-radius:5px;

    width: 222px;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    color:white;
    border:none;
    background: #B8CE6C;   /* for non ccs-3 browsers */
    padding:3px 10px;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */
}

#asset_allocation_info{
    height:110px;
    overflow-y: auto;
}
#asset_allocation_info #view{display:none;}
#show_message_box_link{display:none;}
#assets_list_area{
  width:275px;
  height:580px;
  margin-right:0px;
  float:left;
}
#working_list_area{
  width:275px;
  height:580px;
  float:left;
}
#leaf_services_list_area{
  width:275px;
  height:580px;
  margin-left:0px;
  float:left;
}
.exchange{
    float:left;
    height:300px;
    width:21px;
    padding-top:30%;
    visibility:hidden;
}

.item_list{min-height:450px;}
.item_list li{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -border-radius:5px;
    margin:1px 0px;
    padding:5px 10px 5px 15px;
    height:20px;
    vertical-align:middle;
    overflow:hidden;
    border:1px solid transparent;
    cursor:pointer;
}
.assets_list li, #working_list_title.asset{background:lightblue; color:#444;}
.leaf_services_list li, #working_list_title.service{background:green; color:white;}

.item_name{
    font-weight:bold;
    font-style:italic;
    vertical-align:middle;
}
.assets_list .item_name{color:#333;}
.leaf_services_list .item_name{color:white;}

.item_operation_link{
    float:right;
    display:none;
}
.item_list li:not(.ui-state-disabled):hover{
    opacity:0.7
}
.item_list li:hover .item_operation_link{
    display:block;
}


/* connected sortable style */
.item_list .ui-state-highlight{background:lightyellow; border:none;}
.ui-resizable-e{right:0px;}
.ui-resizable-w{left:0px;}
.ui-resizable-s{bottom:0px;}
.ui-resizable-s:hover{background:#ddd}