span.add-ui-em {
    cursor:pointer;
}
.edit-button{
    position:absolute;
    left:0;
    top:0;
    
}

#admin-edit-em textarea{
    padding:0;
    height: 200px;
    width:100%;
}
#admin-edit-em input{
    border:1px solid #DEDEDE;
}