/* original
.services_page_title{
    padding: 10px 0px 5px 30px;
    font-size:20px;
    font-weight:bolder;
    background-color:#ccc;
}
.services_page_title #title_category{
    font-size:20px;
    font-weight:bolder;
}
*/
/* app-spec */
#title_category{
    color: #36361B;
    font-family: "Trebuchet MS",Arial Black,Geneva,Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-weight: bold;
    height: 35px;
    line-height: 25px;
}
/* end app-spec */

.services_page_content{
    padding:5px 30px;
}
.services_page_content label{
    margin:5px 0px 5px 20px;
    float:none;
    text-align: right;
    width:auto;
    text-transform:none;
}
.services_page_content input{
    margin: 5px;
}

.services_search_box{
    width:100%;
    height: 30px;
    padding: 10px 0px;
}
#search_text{
    font-size:12px;
}

.services_list{
    padding:10px 0px;
    max-height:450px;
    overflow: auto;
}
.service_body{
    border:1px solid #ccc;
}

.service_left_links { float:left; }
.service_right_links { float:right; }
.services_left_links a{ float:left; margin-right:20px}
.services_right_links a{ float:right; }

.services_operation_links{
    padding:10px 10px;    
}
.services_operation_links a{
    font-size: 15px;
}



/*--------- form builder */
.service_form_builder_tools{
    padding:5px;
    margin-left:680px;
    width:200px;
    height:520px;
}

.service_form_builder_view{
    padding:5px;
    float:left;
    width:670px;
    height:520px;
}

.service_form_builder_tabs{
    height:520px;
}
.service_form_builder_tabs .tab_content_options{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight:bold;
}
.service_form_builder_tabs .tab_content{
    height:410px;
    overflow:auto;
    color:black;
}
.service_form_builder_tabs .tab_content label{
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 10px;
  display: block;
}

.service_form_builder_tabs .tab_content li { clear:both; padding:5px 0px;}
.service_form_builder_tabs .tab_content li label{ line-height: 100%; }
.service_form_builder_tabs .tab_content li input{ display:block;}
.service_form_builder_tabs .tab_content li textarea{ display:block;}
.service_form_builder_tabs .tab_content li select{ display:block; width:280px;}
.service_form_builder_tabs .tab_content .editable_list li:hover {cursor:move; background-color: #bbb}
.service_form_builder_tabs .tab_content .editing{background-color: #ddd}

/* for adjusting jquery UI component*/
#service_form_builder_nav{ height:32px; }
.service_leaf{ background:none; background-color:green}
.dialog{ display:none; }


/* app-spec */
.item-list-actions-wrapper{ right:42px; }
.service_form_builder_tabs .tab_content li:hover .item-list-actions-wrapper {display:block;}
#admin-edit-em input[type="text"] { width:90%; font-size:14px;}
#admin-edit-em textarea {width:100%; height:100px;}
/* end app-spec */

#required_label{width:150px; margin-left:0px}
#required_checkbox{float:left; width:15px; margin:7px 0px 7px 7px}
.required{color:green}

.bread_crumb a{ font-style:italic; color:navy }
.service_registration_status{ float:right; }


