.services_page_title{
    padding: 10px 0px 5px 30px;
    font-size:20px;
    font-weight:bolder;
    background-color:#ccc;
}

.services_page_content{
    padding:5px 30px;
}

.services_search_box{
    width:100%;
    height: 30px;
    padding: 10px 0px;
}
#search_text{
    font-size:12px;
}

.services_search_box label{
    margin:5px 0px 5px 20px;
    float:none;
    text-align: right;
    width:auto;
}
.service_search_box input{
    margin: 5px;
}
.services_new_options label{
    margin:5px 0px 5px 20px;
    float:none;
    text-align: right;
    width:auto;
}
.service_new_options input{
    margin: 5px;
}

.services_list{
    padding:10px 0px;
    max-height:450px;
    overflow: auto;
}

.service_left_links{ float:left; }
.service_right_links{ float:right; }
.services_left_links{ float:left; }
.services_right_links{ float:right; }

.services_operation_links{
    padding:10px 10px;    
}
.services_operation_links a{
    font-size: 15px;
}






/*--------- form builder */
#form_builder_tools{
    padding:5px;
    float:left;
    width:200px;
    height:520px;
}
#form_builder_tools fieldset{   
    height:470px;
}
#form_builder_view{
    padding:5px;
    margin-left:210px;
    width:670px;
    height:520px;
}
#form_builder_view fieldset{  
    height:470px;
}