/** app-specific */
/* copy from application_evergreen.css due to firefox css length limit */
.explanation {
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #ddd;
    color: #333333;
    margin: 10px 0;
    padding: 10px;
}

#search_text{font-size:12px;}
.index_search_box{
    width:100%;
    height: 30px;
    padding: 0px 0px 10px 0px;
}

.index_bread_crumb{
    padding-top:10px;
}
.index_list{
    padding-bottom:10px;
    /* max-height:470px;
    overflow: auto; */    /* page length limit */
}
.index_bottom_links{
    padding:10px 10px;
    margin-bottom:5px;
}

.bread_crumb a{ font-style:italic; color:navy }

.accordion_head .request_status{float:right; margin:0px 10px 0px 0px; font-weight:bold; font-style:italic;}
.accordion_head .capacity{float:right; margin:0px 10px 0px 0px;}
.accordion_head .capacity span{font-weight:bold; font-style:italic;}

.accordion_body{ border:1px solid #ccc; }
.accordion_body .operation_links a{ color:navy; }
/** end of app-spec */

input:focus,input:hover,
textarea:focus,textarea:hover,
select:focus,select:hover{
    background-color:lightyellow;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -box-shadow: 5px 5px 5px #ccc;
}

.disable_selection{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ellipsis{
    text-overflow:ellipsis; 
    white-space:nowrap;
    overflow:hidden
}

.dialog{display:none;}
.dialog_content{
    padding:20px;
}

.page_content{
    padding:20px 20px;
}

.left{float:left}
.right{float:right}
.left_links{float:left;}
.right_links{float:right;}

.round{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -border-radius:5px;
}
.shadow{
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -box-shadow: 3px 3px 3px #ccc;
}

.hide{display:none;}

ol{ list-style-type:decimal;}

.blank_sign{ color:#aaa }

