<%= side_bar_box(:Menu) do %>

    <ul>
      <li>

        <%= om_button(:icon=>'New') do %>
            <%= link_to 'Create a New Group', new_group_path %>
        <% end %>
      </li>
      <li>
       a
      </li>
      <li>
        b
      </li>
    </ul>
<% end %>