<% require_stylesheet 'omega_contacts' %>
<div id="contacts" class="left">
  <ul>
    <%#= render(:partial => 'contacts/contact_row', :collection => contacts) %>
        
  </ul>
</div>

<div id="contacts_contact_pane" class="left" style="clear:right;    ">
  <%= yield %>
</div>

