<ul>
  <li>
    Label<br>
    <input id="edit-label-value" type="text"> </input>

  </li>
  <li>
    Enter Comma Separated Select List Options
    <br>
    <input id="select-values"/>
  </li>
  <li>
    <input type="checkbox" name="required">Is this field required?
  </li>


</ul>