<ul>
  <li>
    Label<br>
<input id="edit-label-value" type="text"> </input>
  </li>
  <li>
    Please enter value  <br>
<input id="edit-field-value" type="text"> </input>
  </li>
</ul>


