<ul>
  <li>
    Please name the Label<br>
    <input id="edit-label-value" type="text"> </input>

  </li>
  <li>
    Please specify the datatype you expect
    <br>
    <select id="edit-field-value" type="text">
      <option>Text</option>
      <option>Number</option>
      <option>Email</option>
      <option>Date</option>

    </select>
  </li>
  <li>
    <input type="checkbox" name="required">Is this field required?
  </li>


</ul>