<ul>
  <li>
    Please name the Label <br>
    <input id="edit-label-value" type="text"> </input>

  </li>
  <li>
    Please select the date
    <input type="text" class="datepicker">
  </li>


</ul>