<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Your Lost Password</h3>
    <p>Hey, we heard you lost your password.<p>
    <p>Use the following link within the next 24 hours to reset your password:<p>
    <p><%= token_sessions_url(:token => @user_token.token) %></p>
    <p>Thanks,<br />The Omega Team</p>
  </body>
</html>
