<%- title "Omega Contacts - Import Wizard" %>


 <div class="content circle-corners-bottom-left">
    	
		<div class="heading-main-columns">
	
				<h1 class="page-content">
					IMPORT CONTACTS INTO OMEGA
		    	</h1>
	
		</div>
		


		<%=  link_to 'Next', csv_import_wizard_contact_imports_url(:step => '1')%>


</div>




