<% require_javascript 'import' %>
<% require_stylesheet 'csv_import' %>

<%- title "Omega Contacts - Undo Imported Contacts" %>

<h1 class="page-content-evergreen corners-top">
  Undo a Recent Import
</h1>
<div class="page-content-evergreen corners-bottom">

  <span class="style2"> </span> <br/>

  <strong>1. Choose Import Date and Time </strong> <br/>
  <%= select 'import','date', @imports, { :prompt => 'Please Select'}%>

  <br/>
  <br/>

  <strong>2. Choose a filter for Import</strong>

  <br/>  <br/>

  <%["By Mapping", "By Data"].each do |f|%>
      <%= radio_button_tag 'import_filter', f %> <%=f%>
  <%end%>

  <br/>
  <div id="import_contacts">




  </div>

</div>
