<% if @skills %>
    <%= side_bar_box(:skills) do %>
        <div class="help-explanation">To look at positions by skill click one of
          the skill tags
        </div>
        <% @skills.each do |skill| %>

            <%= link_to volunteering_skills_path(:skills => [params[:skills], skill.name].compact.join('+')), :class => 'skill-tag' do %>
                <span>
                <%= skill.name %> x <%= skill.count %>
                </span>
            <% end %>
            <div class="clear"></div>
        <% end %>
    <% end %>

<% end %>