<!DOCTYPE html>
<html>
<head>
  <title>Omega</title>
  <%= stylesheet_link_tag    "omega/application" %>
  <%= javascript_include_tag "omega/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
