<%= context_box do %>


<div class="content circle-corners-top circle-corners-bottom">

<div class="heading-main">
	
		<h1 class="page-content">
			Evergreen Registration
		</h1>
	
	<div class="right-heading">
		<p class="info-text">
			<span class="info-text"> Already a member? <strong>Sign In!</strong> </span>
		</p>
	</div>
	    
</div>


<div class="signup-box">	
	<div class="form-signup">
		<%= render :partial => 'register_form' %>
	</div>
</div>
</div>
<% end %>