<% require_stylesheet 'tag_cloud' %>
<% require_stylesheet 'settings' %>
<% require_stylesheet 'omega_users' %>

<% stuff = "a variable" %>
<% stuff_array = Array.new %>
<% stuff_array << "array element" << "another element" %>
<script type="text/javascript">
	show_name = function(name, tag){
		document.getElementById("result-header").innerHTML = "Volunteers with "+tag+" skill/interest:";
		document.getElementById("result").innerHTML = name;
	}

	delete_list = function(){
		var old_volunteers_list = document.getElementById("volunteers-list");
		volunteers = old_volunteers_list.getElementsByTagName("li");
		old_volunteer_count = volunteers.length;
		for(j=1; j <= old_volunteer_count; j++){
			(volunteers[0].parentNode).removeChild(volunteers[0]);
		}
	}

	generate_element = function(name, tag){
		delete_list();
		var volunteers_list = document.getElementById("volunteers-list");
		document.getElementById("result-header").innerHTML = "Volunteers with "+tag+" skill/interest:";
		names = name.split(",");
		names.splice([names.length - 1], 1);
		for(i=0; i < names.length; i++){
			var volunteer = document.createElement("a");
			volunteer.setAttribute("href", "#");
			volunteer.setAttribute("id", "volunteer");
			var text = document.createTextNode(names[i]);
			volunteer.appendChild(text);

			var lineItem = document.createElement("li");
			lineItem.appendChild(volunteer);
			volunteers_list.appendChild(lineItem);
		}
	}
</script>

<body>


	<div class="content circle-corners-bottom-left">
		<div class="heading-main">
			<h1 class="page-content">
				Search Skills and Interests
			</h1>
		</div>



 		<h3 class="content-heading"> Popular Skills and Interests </h3>
		<br />

		<div id="main-box" style="width:938">
			<div id="left" style="width:440; float:left"><br />
				<%= list_contacts_in(@skills) %>
			</div>

		<div id="right" style="width:469; float:right; height:auto">
			<p id="result-header" style="font-size:120%"></p>
				<ul id="volunteers-list"></ul>
			<p id="result" style="margin-left:20px" > </p>
		</div>
		</div>

				<!--<div class="content sharing-content" style="margin-left:22%; max-width: 50%; min-height:200px;"></div> !-->

</body>
