<h1 class="page-content corners-top">
 Hello  <%= current_user.username %>
</h1>
<div class="page-content corners-bottom">

  <p>
    
  </p>

</div>


<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_user" %>
<% end %>
