<%= require_stylesheet 'omega_users'%>

<div class="content circle-corners-bottom  corners-top">
	
	

	
	
<div class="signup-box">	
<h2 class="summary">
	</h2>
	
		<p class="summary"> <span class="text-style1"> User Information for <%= @user.username %> ( <%= @user.first_name %> <%= @user.last_name %>)
		<br/>
		 was successfully updated!
		 </span></p>

    <p class="summary">
	
	<br/>
	<br/>
	<span class="text-style-large"> </span> <br/>
	
	

</p>
</div>


	  
<%# content_for :sidebar do %>
    <%#= render :partial => "layouts/sidebar_user" %>
<%# end %>
