<div class="content circle-corners-top circle-corners-bottom">

	<div class="heading-main">
		<h1 class="page-content">
			Registration
		</h1>
		
		<div class="right-heading">
			<p class="info-text">
				<span class="info-text"> Already a member? <strong><%= link_to "Sign In!" %></strong> </span>
			</p>
		</div>
	</div>

	<div class="signup-box">	
		<div class="form-signup">
			<p class="red-text">
				All fields marked with a <span style="font-size: 18px; font-family: 'Century Schoolbook'; font-weight:bold; color:#CC3300;">*</span> are required! 
			</p>
			<%= render :partial => 'register_form' %>
		</div>
	</div>
</div>
