

#mainMenu {
	text-align: left;
        margin: 0 auto;
        width: 600px;
        margin-top: 26px;
		
		
}

#mainMenu a {
		text-shadow:0 1px 0 #333333;
        color: #FFF;
        text-decoration: none;
}

#mainMenu a:hover {
        text-decoration: underline;
}

#mainMenu li {
        display: inline;
        position: relative;
}

#mainMenu li span {
        position: relative;
        z-index: 10;
        padding: 4px 4px 4px 6px;
        border-bottom: none;
        line-height: 18px;
}

#mainMenu li span a {
        font-weight: bold;
        padding: 0 6px 0px 2px;
}

#mainMenu li span.over {
        padding: 4px 3px 4px 5px;
        border-top: solid 1px #1484E6;
        border-left: solid 1px #1484E6;
        border-right: solid 1px #4882B2;
        border-bottom: solid 1px #61B0F2;
}
    * + html #mainMenu li span.over {
        border-top: solid 2px #E5E5E5;
        padding-bottom: 3px;
}
 /* IE6 */
#mainMenu li span.over a {
}

#mainMenu li span.over a:hover {
        text-decoration: none;
}

#mainMenu li span.active {
        padding: 4px 3px 4px 5px;
        border-top: solid 1px #1484E6;
        border-left: solid 1px #1484E6;
        border-right: solid 1px #4882B2;
        border-bottom: solid 1px #61B0F2;
}
    * + html #mainMenu li span.active {
        border-top: solid 2px #E5E5E5;
        padding-bottom: 3px;
}

#mainMenu li span.active a {
}

#mainMenu li span.active a:hover {
        text-decoration: none;
}

#mainMenu img.menuarrow { /*margin-left:4px;*/
        cursor: pointer;
}

#mainMenu div.sub_menu {
        display: none;
        position: absolute;
        left: 0;
        top: 0px;
        margin-top: 18px;
        border-top: solid 1px #1484E6;
        border-left: solid 1px #1484E6;
        border-right: solid 1px #61B0F2;
        border-bottom: solid 1px #61B0F2;
        padding: 4px;
        top: 2px;
        width: 160px;
        background: #2A4A66;
		
z-index:11000 !important;
}

    * html #mainMenu div.sub_menu {
        margin-top: 23px;
}
 /* IE6 */ * + html #mainMenu div.sub_menu {
        margin-top: 23px;
}
 /* IE7 */
#mainMenu div.sub_menu a:link, #mainMenu div.sub_menu a:visited, #mainMenu div.sub_menu a:hover {
        display: block;
        font-size: 11px;
        padding: 4px;
}

#mainMenu a.item_line {
        border-top: solid 1px #E5E5E5;
        padding-top: 6px !important;
        margin-top: 3px;
}



