<% if @skills %>
    <%= side_bar_box(:skills) do %>
        <% @skills.each do |skill| %>
            <span class="skill_tag">
             <%= link_to skills_volunteering_positions_path(:skills => [params[:skills], skill.name].compact.join('+')) do %>
                <%= skill.name %> x <%= skill.count %>
            <% end %>
           </span>
        <% end %>
    <% end %>

<% end %>