<% if @position.skills %>
    <%= side_bar_box(:skills) do %>
        <% @position.skills.each do |skill| %>

            <%= link_to volunteering_skills_path(:skills => [params[:skills], skill.name].compact.join('+')) do %>
                <span class="skill-tag">
                <%= skill.name %>
                </span>
            <% end %>

        <% end %>
    <% end %>

<% end %>