<% if @interests %>
    <%= side_bar_box(:interests) do %>
        <% @interests.each do |interest| %>
            <span class="skill_tag">
          <%= link_to interests_volunteering_positions_path(:interests => [params[:interests], interest.name].compact.join('+')) do %>
                <%= interest.name %> x <%= interest.count %>
            <% end %>
        </span>
        <% end %>
    <% end %>
<% end %>
