<div id="object_to_add_<%= obj.id.to_s %>" class="object_to_add assignment_object">
  <%= link_to %Q{<span class="om-icon-only om-blue-icon ui-icon-plus"></span> <span class='object_name bold'>#{obj.name.truncate(40)}</span>}.html_safe, url, :method => :post, :remote => true %>
</div>