<div id="object_to_remove_<%= obj.id.to_s %>" class="object_to_remove assignment_object">
  <%= link_to %Q{<span class="om-icon-only om-blue-icon ui-icon-minus"></span> <span class='object_name bold'>#{obj.name.truncate(40)}</span>}.html_safe, url, :method => :delete, :remote => true %>
</div>
