<div id="one_to_many_assignment">
  <div id="available_entity_area" class="entity_area left">
    <div id="available_entity_title" class="entity_title">
      Available <%= entity_2.name.pluralize.titleize %>
    </div>
    <div id="available_entity_list" class="entity_list round shadow">

    </div>
  </div>

  <div id="entity_exchange" class="exchange">
    <img alt="" src="/assets/double_arrow.jpg" />
  </div>

  <div id="assigned_entity_area" class="entity_area right">
    <div id="assigned_entity_title" class="entity_title">
      Assigned <%= entity_2.name.pluralize.titleize %>
    </div>
    <div id="assigned_entity_list" class="entity_list round shadow">

    </div>
  </div>
</div>