<ul>
  <li>
    Label<br>
<input id="edit-label-value" type="text" value="<%=@field.field_name%>"> </input>
  </li>
  <li>
    Value  <br>
<textarea id="edit-field-value" type="text"> <%=@field.value.field_value%> </textarea>
  </li>
</ul>


