<% super_group ||= group.super_group %>
<div id="group-nedit-dialog-form" class="dialog" title="Edit <%= group.name %>">
  <p>
    <%= render "groups/form", :group=>group, :super_group=>super_group %>
  </p>
</div>
