<div id="group-destroy-dialog-confirm" class="dialog" title="Delete <%= group.name %>?">
  <p>
    Everything related to this group will be lost.<br/>
    Are you sure to delete <strong class="italic"><%= group.name %>?</strong>
  </p>
</div>