<h1 class="page-content corners-top">
  Omega
</h1>

<div class="page-content corners-bottom">
<p>

  We Can Help!


</div>

<% content_for :sidebar do %>
    <%#= render :partial => "layouts/sidebar_volunteering_positions" %>
<% end %>
