<div class="content circle-corners-bottom-left">

<div class="heading-main-columns">
	
		<h1 class="page-content">
 		    New Message
 		</h1>
	
	
	    
</div>


	


<%= render('form') %>

</div>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_messages_menu" %>
<% end %>
