<% require_javascript 'thirdParty/jquery.fullcalendar.js', 'calendars.js' %>
<% require_stylesheet 'thirdParty/jquery.fullcalendar.css','calendar.css' %>
<div id="cal"></div>
<% content_for :sidebar do %>
	<%= render :partial => "layouts/sidebar_cal" %>
<% end %>