<%= side_bar_box(:filter) do %>
    <ul id="letter-list">
      <% ('A'..'Z').each do |l| %>
          <li>
            <span><%= link_to l, "/groups/#{l}" %></span>
          </li>

      <% end %>
      <li>
        <span><%= link_to 'All', groups_path %></span>
      </li>
    </ul>
    <div class="clear"></div>

<% end %>