<head>
	<% require_stylesheet 'settings' %>
</head>

<body>

	<div class="heading-main-columns-settings">
	  <h1 class="page-content">
			Settings
	  </h1>
	</div>


 
	<h3 class="content-heading"> Site-Wide Settings </h3>
		</br><p class="image"> Current Logo: </p>
 	 	<div id="settings-logo" style="background:url(<%#=image_in_use_url("Logo")%>) no-repeat left" ></div>

		<nav class="link">
			<ul>
				<li>
					<%= (link_to 'Edit Your Logo or Banner', :controller => "images", :action => "edit_logo") if current_user.is_admin? %>
				</li>
			</ul>
		</nav>

		<p> 
			<%= render 'update_email' %>
		</p>


</body>
