<div id="error-dialog-message" class="dialog" title="Please try again later">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    An error has occurred, please refresh the page and try again later.
  </p>
</div>

