<div id="cm_contact_list">
  <ul>
    <li>
      <div><%= @contact_group ? @contact_group.name : 'All Contacts' %> </div>
    </li>


    <% @contacts.each do |contact| %>
        <li class="<%= cycle("even", "odd") %>">

          <%= link_to "#{contact.last_name}, #{contact.first_name}", contact, :remote => true %>

        </li>
    <% end %>
  </ul>
</div>

<%= yield %>

