<% require_javascript 'thirdParty/jquery.dataTables.min.js', 'uploadify/swfobject', 'uploadify/jquery.uploadify.v2.1.0', 'omega_groups_uploads' %>
<% require_stylesheet 'thirdParty/jquery.dataTables.jui.css', 'uploadify/uploadify' %>

<h1 class="page-content corners-top">
  Shared Documents
</h1>

<div class="page-content corners-bottom">


  <table id="shared-documents" class="width-100">
    <thead>
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>Date</th>
    </tr>
    </thead>
    <%= render :partial => "upload_records" %>
   
  </table>
</div>



<% content_for :sidebar do %>

    <%= render :partial => "partials/sidebar_group" %>
    <%= render :partial => "sidebar_uploads" %>

<% end %>