$('#new_group_upload').remove();
        $('body').append('<%= escape_javascript(render('form.html')) %>');
        $('#new_group_upload').dialog({autoOpen:true,
            width:500,
            height:500,
            title:'Please choose files that you would like to upload'
        });
        
    $.fn.extend({
        multiUpload: function() {
            var csrf_token = $('meta[name=csrf-token]').attr('content'),csrf_param = $('meta[name=csrf-param]').attr('content'),
            flash_session_key = $('meta[name=flash-session-key]').attr('content'),
            flash_session_cookie = $('meta[name=flash-session-cookie]').attr('content');
            var uploadifyScriptData = {};
            uploadifyScriptData['uploadify'] = true;
            uploadifyScriptData[flash_session_key] = flash_session_cookie;
            uploadifyScriptData[csrf_param] = encodeURIComponent(encodeURIComponent(csrf_token));
            uploadifyScriptData['_accept'] = 'application/json';

            return $(this).each(function() {
                var input = $(this);

                if (input.data('liveUploaded')) return; // continue
                else input.data('liveUploaded', true);



                input.uploadify({
                    auto        : true,
                    uploader    : '/uploadify/uploadify.swf',
                    script      : '/uploads',
                    cancelImg   : '/uploadify/cancel.png',
                    buttonImg   : '/images/browse.png',
                    buttonText  : 'Upload',
                    wmode       : 'transparent',
                    hideButton  : true,
                    multi       : true,
                    scriptData  : uploadifyScriptData,
                    onComplete  : function(event, queue, file, response, data) {
                        var result  = $.parseJSON(response),
                        id          = result.upload.id;
                        $('#upload-file-list').append(
                                '<li>'
                                + result.upload.upload_file_name
                                + '<input type="hidden" name="group_uploads['
                                + id
                                + '][upload_id]" value="'
                                + id
                                + '">'
                                + '</li>')


                    },
                    onError: function(event, queue, file, error) {
                        alert("onError");
                    }
                });

               
            });
        }
    });



$('input[type=file]').multiUpload({
            wmode       : 'transparent',
            buttonImg   : '/images/browse.png',
            hideButton  : true,

        });

$('#upload-file-list').delegate('li','click',function(){
   $(this).remove();
});

        