<div id="groups-member-edit-position-dialog-form" class="dialog" title="Update Member Position">
  <p>
    <%= form_for groups_member, :remote=>true do |form| %>
      <div class="field">
        <% options = GroupsMember::POSITIONS.map{|p| [p.capitalize,p] } %>
        <% default_option_value = groups_member.position %>
        <%= form.label :position, "Position" %>
        <%= form.select :position, options_for_select(options, default_option_value) %>
      </div>
      <%= form.hidden_field :group_id %>
    <% end %>
  </p>
</div>
