<!-- app-spec: class names for css -->

<% stylesheet_link_tag 'thirdParty/jquery.dataTables.jui.css' %>
<% javascript_include_tag 'thirdParty/jquery.dataTables.min.js' %>

<% stylesheet_link_tag 'share.css' %>
<% stylesheet_link_tag 'groups_member.css' %>
<% javascript_include_tag 'util.js' %>
<% javascript_include_tag 'ui_util.js'%>
<%# javascript_include_tag 'groups_member/index.js'%>
<% javascript_include_tag 'groups_member/destroy.js'%>

<div class="content circle-corners-bottom" >
  <div class="heading-main">
    <h1 class="page-content page_title">
      <%= render "index_page_title" %>
    </h1>
  </div>

  <div class="page_content">
    <%= render "index_page_content" %>
  </div>
</div>

