<% content_for(:header) do %>
<script src="/javascripts/assets/dependencies.js?1295536156" type="text/javascript"></script>
<link href="/stylesheets/application.css?1295633769" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/thirdParty/jquery-ui-1.8.4.custom.css?1295536156" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/omega_home.css?1295633769" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/thirdParty/jquery.js?1295536156" type="text/javascript"></script>
<script src="/javascripts/thirdParty/jquery-ui.js?1295536156" type="text/javascript"></script>
<script src="/javascripts/thirdParty/jquery.tipsy.js?1295536156" type="text/javascript"></script>
<script src="/javascripts/tiny_mce/jquery.tinymce.js?1296227907" type="text/javascript"></script>
<script src="/javascripts/application.js?1295536495" type="text/javascript"></script>
<script src="/javascripts/omega_home/omega_home.js?1295536156" type="text/javascript"></script>
<script src="/javascripts/thirdParty/jquery.timepicker" type="text/javascript"></script>
<% end%>
<h1>New page</h1>

<%= render 'form' %>

<%=  link_to 'Back', pages_path %>
