<% require_stylesheet "services"%>

<h1 class="index"><%=@service.service_type%> Service</h1>

<p class="left-align">
  <span class="heading1">Form Fields</span>
        <% @fields.each do |field| %>
            <% if field.service_id == @service.id%>
                <br/><%= field.field_name%>
             <%end%>
        <%end%>
</p>

<%if !current_user.is_anonymous?%>
<p class="left-align">
  <br/>
  <%= link_to 'Add a Field to '+@service.service_type+ ' Service', new_service_service_field_url(@service.id)%>

  <br/>
  <%= link_to 'All Services ', services_url%>

</p>


<%end%>