$('body').append('<%= escape_javascript(render(:partial => 'contacts/partials/contact_list.html')) %>');
        $('#contact-assignment').dialog({autoOpen : true,
            title: 'Add Contact'});
        $('#contact-assignment-list').delegate('li', 'click', function() {
            var self = $(this);

            $('#volunteering_position_contact_ids').val(self.attr('ui-data'));

            $('#assigned_contacts').append(
                            '<li ui-data="'
                            +self.attr('ui-data')
                            +'"><span class="om-icon-only om-blue-icon ui-icon-minus" data-tooltip="Remove this contact">'
                            +'</span><span class="remove-contacts">'
                            + self.text().trim()
                            + '</span></li>');

            $('div.tipsy').remove();
            
            update_cid_values();

});




