<% assigned_groups = contact.joined_groups %>
<% available_groups = Group.without_contact(contact) %>

<div id="assign_groups_to_contact" class="one_to_many_assignment">
  <div id="available_groups_area" class="groups_area entity_area left">
    <div id="available_groups_title" class="groups_title entity_title italic bold">
      Available Groups
    </div>
    <div id="available_groups_list" class="groups_list entity_list round shadow">
      <% available_groups.each do |group| %>
        <%= render "shared/object_to_add", :obj=>group, :url=>add_groups_members_url(:member_id=>contact.id, :group_id=>group.id, :type=>"groups_to_contact") %>
      <% end %>
    </div>
  </div>

  <div id="groups_exchange" class="entity_exchange exchange">
    <img alt="" src="images/double_arrow.jpg" />
  </div>

  <div id="assigned_groups_area" class="groups_area entity_area right">
    <div id="assigned_groups_title" class="groups_title entity_title italic bold">
      Assigned Groups
    </div>
    <div id="assigned_groups_list" class="groups_list entity_list round shadow">
      <% assigned_groups.each do |group| %>
        <%= render "shared/object_to_remove", :obj=>group, :url=>remove_groups_members_url(:member_id=>contact.id, :group_id=>group.id, :type=>"groups_to_contact") %>
      <% end %>
    </div>
  </div>
</div>
