<% assigned_members = group.members %>
<% available_contacts = group.is_root? ? Contact.all-assigned_members : group.super_group.members-assigned_members %>

<div id="contacts_to_group_assignment">
  <div id="available_contacts_area" class="contacts_area left">
    <div id="available_contacts_title" class="contacts_title italic bold">
      Available Contact
    </div>
    <div id="available_contacts_list" class="contacts_list round shadow">
      <% available_contacts.each do |member| %>
        <%= render "shared/object_to_add", :obj=>member, :url=>add_groups_members_url(:member_id=>member.id, :group_id=>group.id) %>
      <% end %>
    </div>
  </div>

  <div id="contacts_exchange" class="exchange">
    <img alt="" src="images/double_arrow.jpg" />
  </div>

  <div id="assigned_contacts_area" class="contacts_area right">
    <div id="assigned_contacts_title" class="contacts_title italic bold">
      Assigned Contact
    </div>
    <div id="assigned_contacts_list" class="contacts_list round shadow">
      <% assigned_members.each do |member| %>
        <%= render "shared/object_to_remove", :obj=>member, :url=>remove_groups_members_url(:member_id=>member.id, :group_id=>group.id) %>
      <% end %>
    </div>
  </div>
</div>