<div id="group-member-destroy-failed-member-in-subgroup-dialog-message" class="dialog" title="Member in Sub-group">
  <p>
    Not able to directly remove <strong class="italic"><%= member.name %></strong>, since he/she is currently a member in the following sub-groups:
    <br/><br/>
    <strong class="italic"><%= sub_groups.first.name %></strong>
    <% sub_groups.drop(1).each do |group| %>
      , <strong class="italic"><%= group.name %></strong>
    <% end %>
  </p>
</div>
