<div id="group-member-destroyed-dialog-message" class="dialog" title="Quitted Group">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    You have successfully quitted the group.
  </p>
</div>
