<div id="group-member-destroy-failed-member-in-subgroup-dialog-message" class="dialog" title="Member in Sub-group">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Not able to directly remove <strong class="italic"><%= member.name %></strong> since he/she is currently a member in the following sub-groups:
    <br/>
    <% sub_groups.each do |group| %>
      <strong class="italic"><%= group.name %></strong><br/>
    <% end %>
  </p>
</div>
