<div id="news_item_menu">
	<div id="news_item_list_link" class="circle-corners-top active">News List</div>
	<div id="news_item_source_list_link" class="circle-corners-top inactive">News Sources</div>
	<div id="news_item_settings_link" class="circle-corners-top inactive">Advanced Settings</div>
</div>
