<% if liked %>
	<%= link_to %Q{<span class="op_block app-ui-icon icon-star" data-tooltip="Don't like to see more like this"></span>}.html_safe, dislike_news_items_url(:remote_id=>remote_id), :id=>"new_news_item_liked_link_"+remote_id, :method => :put, :remote => true %>
<% else %>
	<%= link_to %Q{<span class="op_block app-ui-icon icon-star disabled" data-tooltip="Like to see more like this"></span>}.html_safe, like_news_items_url(:remote_id=>remote_id), :id=>"new_news_item_liked_link_"+remote_id, :method => :put, :remote => true %>
<% end %>	