<%= side_bar_box(:"Calendars Menu") do %>


    <ul>
      <li>
        <%= om_button(:icon => 'calendar') do %>
            <%=  link_to 'Create Calendar', tenant_new_calendar_url, :remote  => true %>
        <% end %>
      </li>
    </ul>

<% end %>