<% require_javascript "thirdParty/jquery.timepicker.js", "thirdParty/jquery.fullcalendar.js", "calendars.js" %>
<% require_stylesheet "thirdParty/jquery.fullcalendar.css", "omega_calendars.css" %>

<%- title "Omega Calendars" %>


<div class="content circle-corners-bottom-left">

		<div class="heading-main">

				<h1 class="page-content">
  					Calendar
		    	</h1>


        </div>



<div class="main-box">
<p>
	 <span class="calendar-top-right">


	  				<%= select( nil, "calendars", Calendar.all.collect {|p| [ p.calendar_name, p.id ] })  %>
</span>

<span class="calendar-top-left">
	<%= om_button(:icon => "calendar") do %>
        				<%=  link_to "Create Calendar", tenant_new_calendar_url, :remote  => true %>
    				<% end %> <br/>
</span>


</p>




  <div id="cal">
  </div>


</div>
</div>


