<div class="right_links">
  <%= link_to "Back to "+back_name, back_url, :class=>"operation_button" %>
</div>
<script type="text/javascript">
  $('.operation_button').button({ icons: {primary:'ui-icon-gear'} });
</script>

