<%# javascript_include_tag 'new_time_entry' %>
<% require_javascript 'thirdParty/jquery.timepicker', 'time_entry' %>

<p class="time_entries">
	Select week: <%= text_field_tag 'volunteering_time_entry_week', nil, :class => 'datepickr', :name => 'volunteering_time_entry[week]' %>
</p>

<div id='record_hours'>
	<%= render 'record_hours' %>
</div>

<script type="text/javascript">

	$(function(){
		$( '#volunteering_time_entry_week' ).change(function(){
			var week = $( '#volunteering_time_entry_week' ).attr( 'value' );
			var contact_id = $( 'select#contact_id' ).attr( 'value' );
			var record_id = $( 'select#volunteering_time_entry_record_id' ).attr( 'value' );
			$.ajax({
				url: "<%= new_volunteering_time_entry_url(:id => @record)%>",
				type: "GET",
				data: {contact_id:contact_id, record_id:record_id, week:week},
				dataType: 'script',
				cache: false
			});
		});
	});

</script>
