<% require_javascript 'thirdParty/jquery.dataTables.min.js' %>
<% require_javascript 'omega_volunteering_records' %>
<%# javascript_include_tag 'new_time_entry' %>
<% require_stylesheet 'omega_volunteering' %>
<% require_stylesheet 'thirdParty/jquery.dataTables.jui.css' %>

<div class="content circle-corners-bottom corners-top">
	<div class="heading-main">
		<h1 class="page-content">
  			Timesheet Summary
		</h1>
   </div>

   <div id="main-box">
   	<p>
	   	<strong>Week: <%= session[:week] %></strong>
		</p>

		<%= render 'timesheets_table' %>

 		<%= om_button(:contact => true, :icon => 'apply') do %>
         <%= link_to 'Edit', all_timesheets_volunteering_time_entries_url(:id=> @position), :'data-tooltip' => 'Apply for this position' %>
		<%end%> 
   </div>
</div>
