  <span class="label"><strong>Service:</strong></span>
  <span class="value"><%= service_registration.service.name %></span>
  <br/>

  <span class="label"><strong>Registrant:</strong></span>
  <span class="value"><%= service_registration.registrant.name %></span>
  <br/>
