<div id="news-item-source-edit-dialog-form" class="dialog" title="Edit <%= news_item_source.name %>">
  <p>
    <%= render "news_item_sources/form", :news_item_source=>news_item_source %>
  </p>
</div>
