<div id="news-item-source-destroy-dialog-confirm" class="dialog" title="Delete <%= news_item_source.name %>?">
  <p>
    You will no longer be able to get updated news from <strong class="italic"><%= news_item_source.name %></strong>.<br/>
    Are you sure to delete it?
  </p>
</div>