<div class="left_links">
  <%= link_to_function "New", "new_asset()", :class=>"operation_button" %>
</div>
<div class="right_links">
</div>
<script type="text/javascript">
  $('.operation_button').button({ icons: {primary:'ui-icon-gear'} });
</script>