<p class="explanation">
  No asset is recorded at the moment.
  <br/><br/>
  <%= om_button(:contact => true, :icon => 'clock') do %>
    <%= link_to_function 'Create a New Asset', "new_asset()" %>
  <% end %>
</p>
