
      <div id="accordion">
        <% @service_types.each do |service_type| %>
          <h3><a href="#"><%= service_type.name %></a></h3>
          <div>
            <p><%= service_type.description %></p>
            <div class="services_operation_links">
              <p>
                <%= link_to "view services", services_url(:service_type_id=>service_type.id) %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <script>
        services_accordion();
      </script>

