<div id="role-destroy-dialog-confirm" class="dialog" title="Delete <%= role.name %>?">
  <p>
    Associations with permissions and users will be lost. <br/>
    Are you sure to delete <%= role.name %>?
  </p>
</div>