<div id="accordion">

	<h3 id="service_head" class="service_head<%= " service_leaf" %>" >
		<a href="#">Last Name</a>
	</h3>
	<div id="service_body" class="service_body">
		<% @all_filters.last_name.each do |v| %>
			<li id="test" name="last_name" ui-data="<%=v%>" >
				<span class="om-icon-only om-blue-icon ui-icon-plus" data-tooltip="Browse volunteers with this last name"></span>
			<%=v%> </li>
		<%end%>
	</div>

</div>

<script>
$(function() {
	$( "#accordion" ).accordion();
});
</script>
