<% @existing_records.each do |record| %>
	<li ui-data="<%= record.id %>">
		<!--<span class="om-icon-only om-blue-icon ui-icon-minus" data-tooltip="Remove this volunteer"></span>-->
		<span class="remove-contacts">
			<%= record.contact.full_name %>
		</span>
		<p>
			<%= form_for record do |r| %>
				<%= r.collection_select :status, ["Accepted", "Applied", "Rejected"], :to_s, :to_s %>
			<% end %>
		</p>
	</li>
<% end %>
