<ul id="volunteers_list" style="margin-left 10px;">
<% @filter.each do |row| %>
	<% unless row[:first_name].to_s.empty? and row[:last_name].to_s.empty? %>
		<li id="contact" ui-data="<%= row[:id] %>" >
			<span class="om-icon-only om-blue-icon ui-icon-plus" data-tooltip="Add this volunteer"></span>
				<%= " #{row[:first_name].to_s} #{row[:last_name].to_s}" %>
		</li>
	<% end %>
<% end %>
</ul>
