<h1 class="page-content corners-top">
  Administer Application of <%= @record.contact.first_name %>  <%= @record.contact.last_name %>
  for <%= @record.position.name %>
</h1>
<div class="page-content corners-bottom">

<%= render 'administer' %>
</div>