<h1> <strong> Applications </strong></h1>


<br/>

<h2><strong> New Applications</strong></h2>

<%= link_to "Show", new_all_volunteering_records_url %>
<br/>
<br/>

<h2><strong> Pending Applications</strong></h2>

<%= link_to "Show", pending_all_volunteering_records_url %>
<br/>
<br/>

<h2><strong> Complete Applications</strong></h2>

<%= link_to "Show", complete_all_volunteering_records_url %>
<br/>
<br/>
