<%= context_box do %>

<div class="page-content circle-corners-bottom  corners-top">
    	
		<div class="heading-main">
	
			<div class="left-heading">
				<h1 class="page-content">
  					Edit Volunteer Information
		    	</h1>
			</div>
	
		</div>
		
		
		
 		<div class="signup-box">	
			
			
			<%= render 'form1' %>
		</div>
<% end %>