<% require_stylesheet 'service2.css' %>
<% require_stylesheet 'omega_volunteering.css' %>

<%= @distance %>

<div id="page_content">
	<%= render 'enroll_volunteers' %>
</div>



<script type="text/javascript">
	var matrix = '<% raw @search_matrix.to_json %>';
	var js_matrix = new Array;
	matrix = matrix.split('},');
	for(var row in matrix){
		var js_row = new Array;
		var r = row.split(',');
		for(var value in r){
			var v = value.split(':');
			js_row[v[0]] = v[1];
		}
		js_matrix.push(js_row)
	}
</script>
