<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'omega_volunteering' %>
<h1 class="page-content corners-top">
  Hello <%= current_user.username %>
</h1>
<div class="page-content corners-bottom">
  <ul id="records-list" class="item-list">
    <% @records.each do |a| %>
        <%= render 'record_row', :record => a %>

    <% end %>
  </ul>

</div>
<% content_for :sidebar do %>
    <%= render  "sidebar_records" %>
<% end %>
