<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'omega_volunteering' %>
<h1 class="page-content corners-top">
  Application Overview
</h1>
<div class="page-content corners-bottom">
  <ul id="records-list" class="item-list">
  <% if @records.empty? %>
    <h2> No Applications to Show!</h2>
<%end%>
    <% @records.each do |a| %>
        <%= render 'record_row', :record => a %>
    <% end %>
  </ul>

    <%= will_paginate @records %>

  <div class="clear"></div>

</div>
<% content_for :sidebar do %>
    <%= render "sidebar_records" %>
<% end %>
