
<div class="content circle-corners-bottom  corners-top">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
  					Volunteer Application
		    	</h1>
	
		</div>
		
		
		
 		<div class="main-box">	
			<h2 class="application-form"> Apply for <%= @record.position.name %> </h2>
			<p>
				<span class="form-text-plain-2">
				Please fill-out the form below in order to apply for this position. Fields marked * are mandatory.</span>
			</span>
			</p>
			
			<%= render 'form' %>
</div>
