<%= context_box do %>

<div class="page-content circle-corners-bottom  corners-top">
    	
		<div class="heading-main">
	
			<div class="left-heading">
				<h1 class="page-content">
  					Volunteer Application
		    	</h1>
			</div>
	
		</div>
		
		
		
 		<div class="signup-box">	
		Apply for <%= @record.position.name %>
			<%= render 'form' %>
		</div>
<% end %>