<h2>You have successfully applied to "<%=@record.position.name%>" Volunteering Position</h2>
<br/>

<p>

  <%= link_to "Record Hours for this Position >> ", new_volunteering_time_entry_url(:id => @record.id) %>

</p>
