<%= context_box do %>

<h1 class="page-content corners-top">
  Edit <%= @position.name %>
  
</h1>

<div class="page-content corners-bottom">

  <%= render 'form' %>

</div>
    <% end %>
<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_position_show_menu" %>
<% end %>