<% require_stylesheet 'omega_volunteering' %>
<% require_javascript 'new_volunteering_position.js', 'jquery.tokeninput.js' %>


<div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
  					Edit <%= @position.name %>
		    	</h1>
	
		</div>
  
  <div class="main-box">
  	        <%= render 'form' %>

  </div>

</div>
