<div class="content circle-corners-bottom-left">

<div class="heading-main">
	
		<h1 class="page-content">
			Create a New Assignment
		</h1>
	
	
	    
</div>


<div class="main-box">	
		<%= render :partial => 'form' %>
</div>

</div>
