<%= context_box do %>
<h1 class="page-content-evergreen corners-top">
  Create a new volunteer position
</h1>
<div class="page-content-evergreen corners-bottom">

  <%= render 'form' %>

</div>
<% end %>