<div class="module">
    <h1>Create a new volunteer position</h1>
    <span class="arrow"></span>
    <div class="content">
        <%= render 'form1' %>
    </div>
</div>
<% content_for :sidebar do %>
<%= render :partial => "layouts/sidebar_home" %>
<% end %>