<%= context_box do %>
<div class="page-content circle-corners-top circle-corners-bottom">

<div class="heading-main">
	
	<div class="left-heading">
		<h1 class="page-content">
			Create a New Assignment
		</h1>
	</div>
	
	
	    
</div>


<div class="main-box">	
		<%= render :partial => 'form' %>
</div>
</div>
<% end %>