<% require_stylesheet 'services' %>

<h1 class="page-content corners-top">
   All Registrations
</h1>

<div class="page-content corners-bottom">



<br/>
  <strong><%= link_to 'All Services ', services_url%></strong>

</div>
