<% require_stylesheet 'services' %>

<div class="wrapper-services">

<div class="container-show">

<div class="header">

<h2 class="index">Your Registration Summary for
    <%@services.each do |s|%>
      <%if s.id == @registration.service_id%>
        <%=s.service_name%> Service
      <%end%>
    <%end%>
</h2>

  </div>
<p class="left-align">

 <% @fields.each do |field| %>
   <%@fieldvalues.each do |fieldv|%>
         <%if fieldv.registration_id == @registration.id%>
             <% if field.id == fieldv.field_id%>
                <strong><%= field.field_name%>:</strong> <%=fieldv.field_value%><br/>
             <%end%>
         <%end%>
   <%end%>
<%end%>


<br/>
  <strong><%= link_to 'All Services ', services_url%></strong>
</p>

</div>
    </div>