<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  var isLoaded = false;
  var attempted_load = "beginning";


function load_FB(){
  var attempted_load = "started it";
  FB.init({
    appId  : 100002599482156,
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
  isLoaded = true;
  attempted_load = "got through it";
}



function check_if_loaded() {
   if(isLoaded) {
     alert("Good news: " + attempted_load + " " + isLoaded);
     document.getElementById("response").innerHTML='Facebook is loaded';
   }
   else {
     alert("bad news: " + attempted_load + " " + isLoaded);
     document.getElementById("response").innerHTML='Facebook is not loaded';
  }
	return false;
}



function get_FB_login_status(){
	FB.getLoginStatus(function(response) {
	  if (response.session) {
	    // logged in and connected user, someone you know
			document.getElementById('login_response').innerHTML='user is logged in'
	  } else {
			document.getElementById('login_response').innerHTML='user is NOT logged in'
	    // no user session available, someone you dont know
	  }
	});
}



function login_to_FB(){
	FB.login(function(response) {
	  if (response.session) {
	    if (response.perms) {
				document.getElementById('login_attempt').innerHTML='user is logged in and granted permissions'
	      // user is logged in and granted some permissions.
	      // perms is a comma separated list of granted permissions
	    } else {
				document.getElementById('login_attempt').innerHTML='user is logged in but did NOT grant permissions'
	      // user is logged in, but did not grant any permissions
	    }
	  } else {
	    // user is not logged in
			document.getElementById('login_attempt').innerHTML='user did NOT  log in and did NOT grant permissions'
	  }
	}, {perms:'publish_stream,offline_access'});
}



var publish = {method: 'feed', message: 'getting educated about Facebook Connect'};
function publish_wall_post()
{
	FB.ui(publish  //,
		//function(response)
		//{
			//if (response && response.post_id) {document.getElementById('response').innerHTML='Post was not published';}
		//else {document.getElementById('response').innerHTML=response + " " response.post_id;}
		//}
	);
}



//  window.fbAsyncInit = function() {
//    FB.init({
//      appId  : 253183958028424,
//      status : true, // check login status
//      cookie : true, // enable cookies to allow the server to access the session
//      xfbml  : true  // parse XFBML
//      })
//    isLoaded = true;
//    attempted_load = "got through it";
//    };
//  (function() {
//    attemted_load = "at least started it";
//    var e = document.createElement('script'); e.async = true;
//    e.src = document.location.protocol + '//connect.facebook.net/en_us/all.js';
//    document.getElementById('fb-root').appendChild(e);
//  }());

 </script>
