<div id="footer">

	<div class="content">
		<ul>
			<li class="footerHeading">
				Tags
			</li>
			<li>
				Home
			</li>
			<li>
				Home
			</li>
			<li>
				Home
			</li>
		</ul>
		<ul>
			<li class="footerHeading">
				Categories
			</li>
			<li>
				Services
			</li>
			<li>
				Services
			</li>
			<li>
				Services
			</li>
		</ul>
		<ul>
			<li class="footerHeading">
				News
			</li>
			<li>
				item
			</li>
			<li>
				item
			</li>
			<li>
				item
			</li>
		</ul>
	</div>

</div>
