<div id="footer_wrapper">
  <div id="footer-evergreen" class="box-shadow">
    <table width="100% ">
      <tr valign="top">
        <td width="33%">
          <h1>Follow us on Twitter</h1>
          <div onclick= "location.href='http://www.twitter.com/EvergreenCanada'" class="om-footer-symbol om-footer-twitter">

          </div>
         

          
        </td>
        <td width="33%">

          <h1>Follow us on Facebook</h1>
                    <div onclick= "location.href='http://www.facebook.com/EvergreenCanada'" class="om-footer-symbol om-footer-facebook">

          </div>

         

        </td>
        <td width="33%">
          <h1>Evergreen Home</h1>
                    <div onclick= "location.href='http://evergreen.ca/'" class= "om-footer-symbol om-footer-evergreen">

          </div>

        <!--  <div class="footer-content">

            <ul>
              <%# Calendar::Event.non_recurrent.last(5).each do |event| %>
              <li><span class="date"><%#= event.start.strftime("%m/%d/%Y") if event.start %> </span> <%#= event.name %> </li>
                  <%# end %>

            </ul>
          </div>
        -->
        </td>


      </tr>
      <tr>
        <td colspan="3">
        	<br/>
          © 2011. All rights reserved. 
        </td>
      </tr>
    </table>

  </div>
</div>