<div id="footer_wrapper">
  <div id="footer">
    <div class="footer_blocks left">
      <h1>Find us</h1>
      111 Rue Duke <br>
      345645 Motnreal , Ca
    </div>
    <div class="footer_blocks left">
      <h1>Join our mailing List</h1>
      <%= label_tag 'join' %>
      <%= text_field_tag '','' %>
    </div>
    <div class="footer_blocks left">
      <h1>Social Stuff</h1>
      <ul>
        <li>link to a</li>
        <li>link to b</li>
        <li>link to c</li>
        <li>link to d</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

</div>