<div id="footer_wrapper">
  <div id="footer">
    <table width="100% ">
      <tr valign="top">
        <td width="33%">
          <h1>Follow us on Twitter</h1>
          <div class="om-footer-symbol om-footer-twitter">

          </div>
         

          <div class="footer-content">
            <ul>
              <li><span class="date">08.04.2010</span> Omega gets new flex layout</li>
              <li><span class="date">08.05.2010</span> Omega get 1 billion makeover</li>
              <li><span class="date">08.06.2010</span> Omega has rails under the hood</li>
              <li><span class="date">08.07.2010</span> Omega is looking for beta testers</li>

            </ul>
          </div>
        </td>
        <td width="33%">

          <h1>Follow us on RSS</h1>
                    <div class="om-footer-symbol om-footer-rss">

          </div>

          <div class="footer-content">
            <ul>
              <li><span class="date">08.04.2010</span> Omega gets new flex layout</li>
              <li><span class="date">08.05.2010</span> Omega get 1 billion makeover</li>
              <li><span class="date">08.06.2010</span> Omega has rails under the hood</li>
              <li><span class="date">08.07.2010</span> Omega is looking for beta testers</li>
            </ul>
          </div>

        </td>
        <td width="33%">
          <h1>See what's up in next time</h1>
                    <div class="om-footer-symbol om-footer-calendar">

          </div>

          <div class="footer-content">
            <ul>
              <li><span class="date">08.04.2010</span> Omega gets new flex layout</li>
              <li><span class="date">08.05.2010</span> Omega get 1 billion makeover</li>
              <li><span class="date">08.06.2010</span> Omega has rails under the hood</li>
              <li><span class="date">08.07.2010</span> Omega is looking for beta testers</li>
            </ul>
          </div>

        </td>


      </tr>
      <tr>
        <td colspan="3">
          Copyright and Imprint and all that stuff
        </td>
      </tr>
    </table>

  </div>
</div>