<div class="actionPanel">

<h1>Manage the Positions</h1>
<span class="arrowGrey"></span>
<ul>
	<li>
		<%= link_to 'Create a New Position', new_volunteering_position_path %>

	</li>
	<li>
		<%= link_to 'Read a Position', new_volunteering_position_path %>

	</li>
	<li>
		<%= link_to 'Delete a Position', new_volunteering_position_path %>

	</li>


</ul>

</div>