<%= side_bar_box('User Actions') do %>
    <ul>
      <li>

        <%= om_button(:icon=>'edit') do %>
            <%= link_to 'Edit', edit_user_path %>
        <% end %>
      </li>


    </ul>

<% end %>