<%= side_bar_box('Volunteering Positions') do %>
    <% @positions.each do |p| %>
        <h3>
          <span class="om-icon-only om-blue-icon ui-icon-folder-open"></span>

          <%= link_to truncate( p.name  ,:length => 30 ) , volunteering_position_path(p) %>

        </h3>
    <% end %>

<% end %>