<div class="sidebar-menu">
  <h1 class="round-top">Menu</h1>

  <div class="round-bottom sidebar-menu-content">
    <ul>
      <li>
          <span class="om-button">
             <span class="om-icon om-icon-mail"></span>
            <%= link_to 'favorites', '', :class => 'om-icon-space ' %>
            </span>
      </li>


    </ul>

  </div>
</div>

