

<div id="left">
<div class="cb">
  <div class="bt">
    <div>
    </div>
  </div>
  <div class="i1">
    <div class="i2">
      <div class="i3">
            <%= yield %>

      </div>
    </div>
  </div>
  <div class="bb">
    <div>
    </div>
  </div>
</div>
</div>

 <div id="right" >
<div class="cb">
  <div class="bt">
    <div>
    </div>
  </div>
  <div class="i1">
    <div class="i2">
      <div class="i3">
            <%= yield(:sidebar) %>
      </div>
    </div>
  </div>
  <div class="bb">
    <div>
    </div>
  </div>
</div>
 </div>

