<div class="content">
	<div id="calendar">
	</div>
	

	<div id="events">
		<ul id="eventList">
			<li>
				<span class="eventLiDate">10th Jul. </span>
				<span class="eventLiDesc">Elder Home Care</span>

			</li>
			<li>
				<span class="eventLiDate">11th Sep. </span>
				<span class="eventLiDesc">Other social event</span>

			</li>
			<li>
				<span class="eventLiDate">12th Nov. </span>
				<span class="eventLiDesc">Charity Event</span>

			</li>
			<li>
				<span class="eventLiDate">13th Dez. </span>
				<span class="eventLiDesc">X-Mas</span>	

			</li>
		</ul>
	</div>
</div>
