<div id="errorExplanation">
    <h2><%= pluralize((user_errors.count)+(contact_errors.count), "error") %> prohibited this User from being created:</h2>
    <ul>
        <% user_errors.full_messages.each do |msg| -%>
        <li>
            <%= msg %>
        </li>
        <% end -%>
        <% contact_errors.full_messages.each do |msg| -%>
        <li>
            <%= msg %>
        </li>
        <% end -%>
    </ul>
</div>
