<% stylesheet_link_tag 'omega_home'%>
<% javascript_include_tag 'omega_home/omega_home','thirdParty/jquery.timepicker' %>

<%= title "Omega Home" %>
<%= self.class.superclass.inspect.to_s %>
<%= self.methods.to_s %>

<div class="content circle-corners-bottom-left">

	<h2 class="page-content"> Welcome to the Happyville Community Center</h1> 
	<p></p>
	<p><img class="page-content" src="images/community.jpg" width="550" height="361" alt="" /></p>

	<p>
	  We are a community based organization offering a number of services to the local community.
	  Feel free to browse our services and sign-up.  We are also looking
	  for your support.  If you would like to help us with our mission
	  feel free to look through our voluteer opportunities and sign-up!								
	</p>


</div>



<% content_for :sidebar do %>
    <%#= render :partial => "layouts/sidebar_volunteering_positions" %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_services" %>
<% end %>

