#account_page_body{
    margin:0px;
    background:#ccc;
}

#account_page_body #main_div{
    margin:auto;
    width:50%;
    min-width:800px;
    background: white;
    border-left: 1px solid #C4B991;
    border-right: 1px solid #C4B991;
    border-bottom: 1px solid #C4B991;
    -moz-box-shadow: 0px 0px 8px #444;
    -webkit-box-shadow: 0px 0px 8px #444;
    box-shadow: 0px 0px 8px #444;
    margin-bottom: -10px;
    min-height: 500px;
    height: auto;
}

#account_page_body #main_div #header{
    padding:20px;
    font-family:fantasy;
    font-size:30px;
    text-align:center;
    background: url('account_bg_1.jpg');
}

#account_page_body #main_div #content{
    padding: 20px;
}

#account_page_body #notice{
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #ddd;
    color: #333333;
    margin: 10px 0 20px 0;
    padding: 10px;
}

#account_page_body fieldset{
    padding:10px;
}

#account_page_body fieldset legend{
    background:url('account_bg_1.jpg');
    padding:10px;
    font-family:fantasy;
}

table{width:100%}
th { text-align: center; }
th.name{width:30%}
th.created_at{width:40%}
th.operations{width:30%}
tr.even { background: #EAEBFF }
tr.odd { background: #EEF3DA }
tr a:hover { color: #333; }
tr:hover{background:lightyellow;}
td{ text-align: center;}

