
ul.thumb {
	float: right;
	list-style: none;
	margin: 0; padding: 10px;
	width: 200px;
}
ul.thumb li {
	margin: 0; padding: 5px;
	float: right;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 200px;
	height: 148px;
}
ul.thumb li img {
	width: 200px; height: 148px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	/*border: 1px solid #ddd;*/
	/*padding: 5px;*/
	/*background: #f0f0f0;*/
	position: absolute;
	left: 0; top: 0;
}
/* class for first lette highliting
.first-l {
    color: #4096ee;
    font-size: 1.7em;
    font-weight: bold
}
*/
.first-1-evergreen {
	color: #342B21;
	font-size: 1.7em;
    font-weight: bold
}


fieldset#homepage_news_item_list{
    padding:10px;
    border-width:1px;
}
fieldset#homepage_news_item_list div{
    word-wrap:break-word;
}

fieldset#homepage_news_item_list legend{
	border-width:1px;
    background:url('account_bg_1.jpg');
    padding:10px;
    font-family:fantasy;
}


#homepage_news_item_list{
	padding: 5px 15px;
}
.homepage_news_item{
	margin: 15px 0px;
}
.homepage_news_item_title a{
	font-size:13px;	
}
.homepage_news_item_url{
	color:green;
	margin-bottom: 5px;
	word-wrap:break-word;
	width:600px;
}
.homepage_news_item_content{
	font-size:12px;
}
span#username_span {
	text-transform: none;
}

