<form>
  <input id="search_text" type="text" maxlength="100" size="50" value="Type here to search..." onfocus="$(this).val('')" onblur="$(this).val('Type here to search...')" />
</form>

<script type="text/javascript">
  $( "#search_text" ).autocomplete({
    //  minLength: 2,
    source: <%= raw groups_to_search.to_json %>,
    select: function( event, ui ) {
      $.ajax({
        url: '<%= groups_url %>',
        data: ({"group_id": ui.item.id}),
        dataType: 'script',
        cache: false
      });
    }
  });
</script>
