<div id="service-registration-create-failed-dialog-message" class="dialog" title="Request Denied">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Record shows that the person has already registered this service.
  </p>
</div>
