<div id="service-registration-destroyed-dialog-message" class="dialog" title="Registration Canceled">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    The registration has been canceled.
  </p>
</div>
