<div id="service-registration-new-dialog-form" class="dialog" title="New Service Registration">
  <p class="validateTips">Colored fields are required.</p>
  <form id="new_service_registration">
    <ul class="service_customization_form">
    </ul>
  </form>
</div>
