<div id="service-registration-update-status-failed-dialog-message" class="dialog" title="Full Capacity">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Not able to accept more registrants since the service capacity is full.
  </p>
</div>

