<div id="service-registration-new-dialog-form" class="dialog" title="New Service Registration">
  <% if is_admin? %>
    <%= render "service_registrations/select_registrant" %>
    <hr/>
  <% end %>
  <p class="validateTips explanation">Colored fields are required.</p>
  <form id="new_service_registration">
    <ul class="service_customization_form">
    </ul>
  </form>
</div>
