<div id="service-registration-update-status-dialog-form" class="dialog" title="Update Service Registration Status">
  <form id="service_registration_status_form">
    <p>
      <input id="service_registration_accepted_radio" name="service_registration_status_radio" type="radio" value="accepted" />
      <label for="service_registration_accepted_radio" >Accepted</label>
      <input id="service_registration_rejected_radio" name="service_registration_status_radio" type="radio" value="rejected" />
      <label for="service_registration_rejected_radio" >Rejected</label>
      <input id="service_registration_pending_radio" name="service_registration_status_radio" type="radio" value="pending" />
      <label for="service_registration_pending_radio" >Pending</label>
    </p>
  </form>
</div>
