<p>
  <%= render "show_service_and_registrant", :service_registration=>service_registration %>
</p>

<p class="validateTips explanation">Colored fields are required.</p>
<form id="edit_service_registration">
  <ul class="service_customization_form">    
    <%= service_registration.service.registration_html %>
  </ul>
</form>