<p>
  <%= render "show_service_and_registrant", :service_registration=>service_registration %>

  <% unless service_registration.field_values.nil?%>
    <% field_values_hash = service_registration.field_values_hash%>

    <% field_values_hash.each do |field, value| %>
      <span class="label"><strong><%= field %>:</strong></span>
      <span class="value"><%= value.length>0 ? nl2br(value) : "<span class='blank_sign'>(blank)</span>".html_safe %></span>
      <br/>
    <% end %>
  <% end %>
</p>
