<% require_stylesheet 'share.css' %>
<% require_stylesheet 'payment.css' %>
<% require_javascript 'util.js' %>
<% require_javascript 'ui_util.js'%>

<div class="content circle-corners-bottom" >
  <div class="heading-main">
    <h1 class="page-content page_title">
      <%= render "new_page_title" %>
    </h1>
  </div>

  <div class="page_content round">
    <%= render "new_page_content" %>
  </div>
</div>


