<div id="countryMenu">
    <ul>
        <li>
            <span class="head_menu">
            	<a class="newB" ><span> Lang</span></a></span>
            <div class="sub_menu">
                <a href="index.html"></a>
                <a href="index.html"></a>
                <a href="index.html"></a>
            </div>
        </li>

    </ul>
</div>