<div id="socialize">
    <ul>
        <li id="liTwitter">
            <div>
            </div>
            
        </li>
        <li id="liRss">
            <div>
            </div>

        </li>
        <li id="liFBook">
            <div>
            </div>
	
        </li>
    </ul>
</div>
