

#scheduler {
    margin: 2em 0;
    display: none;
}

#scheduler table {
    width: auto;
}

#time_slider {
    width: 300px;
}

#scheduler li {
    background: none;
    padding: 0;
}

.sel_wday {
    width: 100px;
    padding: 0.5em;
}

.schedule {
    display: none;
}



#positions-list li {
    height: 180px;
    position: relative;
}

div.position-slider {

    text-align: right;
    border: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    margin: 20px 0 20px -15px;
    height: 22px;
    width: 650px;
    position: absolute;
    top: 42px;
	left:20px;
    background: url("/images/bg_dark.png") repeat-x bottom;
    color: #000;
    display: none;

}

div.position-actions {
    padding: 1px 20px 0 0;
}

div.position {
    background: #FFF;
    -moz-box-shadow: 4px 4px 10px #DDDDDD;
    -webkit-box-shadow: 4px 4px 10px #DDDDDD;
    box-shadow: 4px 4px 10px #DDDDDD;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    width: 650px;
    position: absolute;
    top: 22px;
	margin:20px 20px 20px 5px;


}

div #search {
	background: #666;
	color: #fff;
	height: 17px;
	width: 70px;
	position: relative;
	top: 10px;
	left: 250px;
	cursor: pointer;
	-moz-border-radius: 16px;
    -webkit-border-radius: 16px;
	padding: 7px 5px 5px 20px;
	font-family: "Arial Rounded MT Bold";
}

div #search_volunteer {
	border: 1px solid #8DA637;
    width: 600px;
	height: 150px;
	margin: 50px 0 0 50px;
	padding: 20px 0 20px 0;
	 -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	
}
div.position-wrapper {
    margin: 2px 2px 2px 2px;
    padding: 0.5em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*border: 1px solid #e3e3e3;*/
	border: 1px solid #A7C249;
	background: #fff;
    /*background: url("/images/position_bg.png") repeat-x bottom #F2F1E1;*/
}

.position-hover {
    /*background: #4196ee !important; /*background:#c9c9c9 !important;*/
    background: #BFD37A !important; /*background:#c9c9c9 !important;*/

}

#positions-list .position-details li {

    background: none !important;
    padding: 5px;
	margin: 30px;
		height: 150px;


}

a.skill-tag {
margin:4px;
    background: url("/images/tag_r_evergreen.png") no-repeat scroll right top transparent;
    color: #222;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: 19px;
    padding: 0 2px 0 0;
    text-decoration: none;
    vertical-align: middle;
}
a.skill-tag:hover{
    background-position: right bottom;
    color:#666;
}
a.skill-tag span {
    background: url("/images/tag_evergreen.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 15px;
    line-height: 15px;
    padding: 1px 7px 3px 19px;
    vertical-align: top;
    white-space: nowrap;

}
a.skill-tag span:hover {
background: url("/images/tag_evergreen.png") no-repeat scroll left bottom transparent;
}

span.skill-tag-active {
margin:4px;
    background: url("/images/tag_r_evergreen.png") no-repeat scroll right bottom transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: 19px;
    padding: 0 2px 0 0;
    text-decoration: none;
    vertical-align: middle;
}

a.skill_tag-active span {
    background: url("/images/tag.png") no-repeat scroll left bottom transparent;
    display: block;
    float: left;
    height: 15px;
    line-height: 15px;
    padding: 1px 7px 3px 19px;
    vertical-align: top;
    white-space: nowrap;
}

.skill-tag a {
    letter-spacing: 0.04em;
    font-size: 0.9em;
    color: #2D302D;
}

.skill-tag a:hover {

    color: #0063dc;
}

.position-list-crl {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0.5em;
}

.position-r {
    border-bottom: 1px solid #EBEBEB;
    background: url("/images/h1BgLight.png") repeat-x bottom #FFF;
    margin: 1em 0;
    padding: 0.5em;
}

.position > h2 {
    padding: 1em;
}



.sidebar-menu-content > div.help-explanation{
    font-style:italic;
    color:#333;
}

.position-actions span.om-plain-icon-button a {
    color:#fff;
}
#contact-assignment-list{
    height:400px;
    overflow-y:scroll;
}
#scheduler-pattern{
    border-right:1px solid #ddd;
    margin:10px;
    padding:10px;
    width:200px;
}
.schedules{
    display:none;
}
#scheduler{
    display:none;
}

/************ calendar list ********************/
.pos-date {
    margin: 20px 10px 0 0;
    background: url("/images/cal_bg_evergreen.png") no-repeat;
    text-align: center;
    font-size: 1.3em;
    padding: 5px 0 0 0;
    float: left;
    width: 45px;
    height: 60px;
	
}

.pos-recurrent {
    margin: 20px 10px 0 0;
    background: url("/images/recurrent_bg.png") no-repeat;
    float: left;
    width: 45px;
    height: 60px;
}

.pos-cal-month {
    color: #4D5C27;
}

.pos-cal-day {

    padding-top: 2px;
    font-size: 0.8em;
    color: #fff;
}