<% require_stylesheet 'services.css' %>


<div class="content circle-corners-bottom-left">
    	
		<div class="heading-main">
	
				<h1 class="page-content">
      				<%= @service_type.type_name%> Type
		    	</h1>
	
		</div>

  <p>    

  <span class="style2">Service Type Details </span> <br/>

  <br/>
           
           <br/>
           <strong>Published: </strong>
           <% if @service_type.published.to_s == "true" %>

              Yes

           <%else%>

              No

           <%end%><br/>

  </p>

  <% Service::TypeField.where("field_category = ? and type_id = ?", "Service Details", @service_type.id).each do |s| %>
      <p>

        <strong><%= s.field_name %> </strong>
        <%#= Service::TypeField::Value.find_by_type_field_id(s.id).field_value %>
		
      </p>
  <% end %>
  <p>
  <br/><span class="style2">Registration Details </span> <br/>

              <br/>
              <strong> First Name <br/>
              Last Name <br/>
              Email <br/>
              Phone Number <br/>
              Notes <br/>
              </strong>

              
  </p>

  <% Service::TypeField.find_all_by_field_category_and_type_id("Registration Details", @service_type.id).each do |s| %>
      <p>
        <strong><%= s.field_name %></strong>
      </p>
  <% end %>

</div>


<% content_for :sidebar do %>
    <%#= render :partial => "layouts/show_service_menu" %>
<% end %>
