<li class="list-item relative">
  <div class="item-list-actions-wrapper corners">
    <div class="item-list-actions">

      <span class="om-plain-icon-button"><span class="om-icon om-icon-delete"></span>
                    <span class="delete-ui-em">Delete</span> </span>
    </div>
  </div>

  <div id="<%= "ui-em-#{index}" %>" class="ui-em-preview" ui-data="date">
    <%= label_tag @field.field_name, nil, :id=>"fields_#{index}_field_name_preview", :class =>'label-preview' %>

 	<span id="<%= "value-preview-#{index}" %>">
           <input class="service" disabled="disabled" type="text" value=""/>


     </span>

  </div>

  <%= render :partial => 'form_builder/partials/service/registration/hidden_fields', :locals => { :index => index }%>

</li>