<% require_stylesheet 'uploadify/uploadify' %>
<% require_javascript 'uploadify/swfobject', 'uploadify/jquery.uploadify.v2.1.0' %>

<%= form_for @contact, :html => { :multipart => true } do |f| %>
    <%= errors_for_form @contact %>

    

	<p>
	  <%= f.label :resume %>
	  <%= f.file_field :resume %>
	</p>
<% end %>