
    <ul>
      <% for contact in @contacts %>
          <li>
            <%= contact.first_name%>
          </li>
      <%end%>
    </ul>
    <ul>
      <% for group in @groups %>
          <li>
            <%= group.name%>
          </li>
      <%end%>
    </ul>
