
#sidebar_cal li a.corners {
    color:#FFF;
}
#create_event{
display:none;
}

#edit_event{
    cursor: pointer;
}



#time_picker{
    display: none;
     text-align:left;
    border:1px solid #999;
    overflow:hidden;
    height:14em;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    background:#f2f2f2;
    font-size:0.75em;
    list-style:none;
    z-index:10000;
}
#time_picker li {
    *float:left;
    text-indent:0;
    margin:0;
    padding: 0.1em 0.2em;
    cursor: pointer;
}
.tpickr_li_over{
    background: #1484E6;
    color: #FFF;

}
h1 select{
    padding:4px;
    margin:0;
}

#scheduler-pattern{
    border-right:1px solid #ddd;
    margin:10px;
    padding:10px;
    width:200px;
}
.schedules{
    display:none;

}
#scheduler{
    display:none;
}

