<h1>Omega cutting edge</h1>

<!--We Can Help!-->
<!--<br/>-->
<!--The Change Your Life Community Center is here to help make your life easier.-->
<!--<br/>-->
<!--Modern life can be complicated and it helps to have a partner that can assist with child care, elder care,-->
<!--counseling and classes for everything from English as a Second Language to budgeting.-->
<!--<br/>-->
<!--We want to be your partner in day to day life so that together we can build a stronger communuty.-->
<!--<br/>-->
<!--Join Us!-->
<!--<br/>-->
<!--As an organization we offer a set of services as diverese as the community we serve.-->
<!--<br/>-->
<!--We believe that over our years of service to the local community we have developed services that meet the needs-->
<!--of our local constituancy however we are always here to listen.-->
<!--<br/>-->
<!--Change your life understands that our community is dynamic so we have to be dynamic too.-->
<!--<br/>-->
<!--If you have a need or an idea for a new service that you don't see on our website please join us and share your-->
<!--need(s) or volunteer to help us grow.-->
<!--<br/>-->
<!--Change your life is always looking for energetic members that want to have a positive impact on their community.-->
<br>


<span class="om-icon-only om-icon-delete"></span>
<br><br><br>
    <span class="om-button om-icon-only">
        <span class="om-icon om-icon-delete"></span>
   </span>

<p>
<span class="om-button">
<input type="submit" value="Style Me">
</span>

<span class="om-button">
<a href="">Style Me</a>  
</span>


<span class="om-button">
<button type="submit" value="Style Me">Style Me</button>  
</span>


  <br>
  <br>
  <br>

<span class="om-button">
<input type="submit" value="Style Me">
</span>
  <br>
<span class="om-button">
<a href="">Style Me</a>
</span>


  <br>

<span class="om-button">
<button type="submit" value="Style Me">Style Me</button>
</span>

  <br>

  <span class="om-button">
<span>sd</span>
</span>
<br>

  <span class="om-button">
<input type="submit" value="Style Me" class="om-icon">
</span>
</p>




<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_home" %>
<% end %>