<% require_stylesheet 'omega_home'%>
<% require_javascript 'omega_home/omega_home','thirdParty/jquery.timepicker' %>


<div class="content circle-corners-bottom-left">

	
	<p>
    <span class="first-letter-bold">O</span>

mega is the software tool built to help you with the operational challenges of running a non-profit. Omega compliments your fund raising and financial software to help you focus on your mission and demonstrate value.

</p>
	


<p class="main-page-indentation">
<img src="/images/index-image-1.png" alt="" width= "150" height = "150" /> 
   <img src="/images/index-image-2.png" alt="" width= "150" height = "150"  /></br/>

  
</p>

<p class="main-page-indentation">

   <br/>
   <br/>
	<span class="main-bullet-list">
	 <ul>
	  <li>

	  <strong>* Omega Helps You Recruit and Organize <br/></strong>
      Members, Volunteers, Supporters </li><br/>
	  <li>

	  <strong>* Omega Helps You Manage <br/></strong>
      The Services You Offer </li><br/>
	  
	  <li>
      <strong>* Omega Helps You Manage <br/></strong>
      Your Assets including volunteers, rooms, etc  </li><br/>
	  
	  <li>
	  <strong>* Omega Helps Your Group <br/></strong>
      share information and collaborate </li>
      </ul>
	</span>
	
  <br/>
  <br/> 
</p>



	
</div>

	

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_wheretofind" %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_volunteering_positions" %>
<% end %>

