<h1>
  <span class="h1 left">
 Welcome
  </span>


<div class="clear"></div>
</h1>
<p>
  Hello Stranger,<br/>
  this is Omega. Benefit bit by registering


</p>


<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_home" %>
<% end %>