<div id="mkt_presentation" class="center_content">

  <ul id="landing_list">
    <li><span>Omega Manages</span><br>
  <span class="explanation">
    ...your contacts
  </span>
    </li>
    <li><span>Omega Runs</span><br>
  <span class="explanation">
    ...your non profit oganization
  </span>
    </li>

    <li><span>Omega Helps</span><br>
  <span class="explanation">
    ...you scheduling your volunteers
  </span>
    </li>
    <li><span>Omega Saves</span><br>
  <span class="explanation">
    ...you operating costs since it is open source
  </span>
    </li>
  </ul>
  <img src="../images/marketing/screen.png" alt="" id="mkt_screen">
</div>
<div id="mkt_try">
  Try it now. For Free
</div>
