<% require_stylesheet 'omega_home' %>
<% require_javascript 'omega_home/omega_home','thirdParty/jquery.timepicker' %>
<%= context_box do %>
<h1 class="page-content-evergreen corners-top">
  Omega Home
</h1>

<div class="page-content-evergreen corners-bottom">
<p>

  <span class="first-evergreen-1">W</span>e Can Help!


  <p>
     <span class="first-evergreen-1">T</span>he Change Your Life Community Center is here to help make your life easier. Modern life can be complicated and it
  helps to have a partner that can assist with child care, elder care, counseling and classes for everything from
  English as a Second Language to budgeting. We want to be your partner in day to day life so that together we can build
  a stronger communuty.


  <p>
    <ul class="thumb">
	<li><a href="#"><img src="/images/home/thumb-1.png" alt="" /></a></li>
	<li><a href="#"><img src="/images/home/thumb-2.png" alt="" /></a></li>
	<li><a href="#"><img src="/images/home/thumb-3.png" alt="" /></a></li>

</ul>





<p>


  <span class="first-evergreen-1">J</span>oin Us!
  As an organization we offer a set of services as diverese as the community we serve. We believe that over our years of
  service to the local community we have developed services that meet the needs of our local constituancy however we are
  always here to listen. Change your life understands that our community is dynamic so we have to be dynamic too. As an organization we offer a set of services as diverese as the community we serve. We believe that over our years of
  service to the local community we have developed services that meet the needs of our local constituancy however we are
  always here to listen. Change your life understands that our community is dynamic so we have to be dynamic too.

  <br/>
  <br/>  
<p>
   <span class="first-evergreen-1">I</span>f you have a need or an idea for a new service that you don't see on our website please join us and share your
  need(s) or volunteer to help us grow. Change your life is always looking for energetic members that want to have a
  positive impact on their community.Change your life is always looking for energetic members that want to have a
  positive impact on their community.Change your life is always looking for energetic members that want to have a
  positive impact on their community.Change your life is always looking for energetic members that want to have a
  positive impact on their community.

</p>

 






</div>
    <% end %>
<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_wheretofind" %>
<% end %>
<% content_for :sidebar do %>
    <%= render :partial => "layouts/sidebar_volunteering_positions" %>
<% end %>

