<% require_stylesheet 'services.css'%>


<div id="add_task_link">
  <p class="left2">
    <%= link_to 'Add Registration Form Field', add_registration_field_services_url(:index => @service.fields.size, :id => @service), :remote => true%>
  </p>

</div>