<% unless service.detail_field_values.nil?%>
  <% field_values_hash = service.detail_field_values_hash%>

  <% field_values_hash.each do |field, value| %>
    <% if value.to_s.length > 0  %>
      <span class="label"><strong><%= field %>:</strong></span>
      <span class="value"><%= nl2br value %></span>
      <br/>
    <% end %>
  <% end %>
<% end %>


