<div class="services_search_box index_search_box">
  <%= render "index_search_box" %>
</div>

<div class="services_bread_crumb index_bread_crumb">
  <%= service_bread_crumb(@super_service) %>
</div>

<hr/>

<div class="services_list index_list">
  <%= render "index_list" %>
</div>

<div class="services_operation_links index_bottom_links">
  <%= render "index_operation_links" %>
</div>

