      <div class="services_left_links">
        <%= link_to "New", new_service_url(:service_level=>Service::LEAF_LEVEL), :class=>"services_index_operation_button" %>
        <%= link_to "New Category", new_service_url(:service_level=>Service::INNER_LEVEL), :class=>"services_index_operation_button" %>
        <%#= link_to "Create New"+(@super_service.nil? ? "" : " Service in "+@super_service.name), new_service_url %>
      </div>
      <div class="services_right_links">
        <% unless @super_service.nil? %>
          <%= link_to "Back to "+(@super_service.is_root? ? "All Services" : @super_service.super_service.name),
            services_url(:super_service_id=>(@super_service.is_root? ? "root" : @super_service.super_service.id), :service_id=>@super_service.id), :class=>"services_index_operation_button", :remote=>true %>
        <% end %>
      </div>
      <script type="text/javascript">
        $('.services_index_operation_button').button({ icons: {primary:'ui-icon-gear'} });
      </script>