      <form>
        <input id="search_text" type="text" maxlength="100" size="50" value="Type here to search..." onfocus="$(this).val('')" />
        <label for="enrollable" >Enrollable</label>
        <input id="enrollable" name="enrollable" type="checkbox" checked="checked" />
        <label for="requestable" >Requestable</label>
        <input id="requestable" name="requestable" type="checkbox" checked="checked" />
        <label for="my_services" >My Services</label>
        <input id="my_services" name="my_services" type="checkbox" />
      </form>
