      <div class="services_left_links">
        <%= link_to_function "Create", "create_service('private')" %>
        <%= link_to_function "Create and Publish", "create_service('public')" %>
      </div>
      <div class="services_right_links">
        <%= link_to "Back to "+(@super_service.nil? ? "All Services" : @super_service.name), services_url %>
      </div>
