<div class="services_new_options">
  <%= render "new_options" %>
</div>

<div id="form_builder_tools">
  <fieldset>
    <legend>Tools</legend>
  </fieldset>
</div>

<div id="form_builder_view">
  <fieldset>
    <legend>View</legend>
  </fieldset>
</div>

<div class="services_operation_links">
  <%= render "new_operation_links" %>
</div>  
