  <form>
    <label for="radio_service_level_leaf" >Service</label>
    <input id="radio_service_level_leaf" name="service_level" type="radio" checked="checked" onclick="set_leaf_service_env()" />
    <label for="radio_service_level_inner" >Service Category</label>
    <input id="radio_service_level_inner" name="service_level" type="radio" onclick="set_inner_service_env()" />
  </form>
