<div class="service_new_options">
  <%= render "new_options" %>
</div>

<div class="service_form_builder_view">
  <%= render "form_builder_view" %>
</div>

<div class="service_form_builder_tools">
  <%= render "form_builder_tools" %>
</div>

<div class="services_operation_links">
  <%= render "new_operation_links" %>
</div>  
