  <form>
    <label for="service_leaf_level_radio" >Service</label>
    <input id="service_leaf_level_radio" name="service_level" type="radio" checked="checked" onclick="set_leaf_service_env()" />
    <label for="service_inner_level_radio" >Service Category</label>
    <input id="service_inner_level_radio" name="service_level" type="radio" onclick="set_inner_service_env()" />
  </form>
