            <a href="#">
              <%= service.name %>
              <% if service.is_leaf? && current_contact %>
                <% service_registration = ServiceRegistration.find_by_registrant_id_and_service_leaf_id(current_contact.id, service.service_leaf.id) %>
                <% if service_registration %>
                  <span id="service_registration_status_<%= service.id %>" class="service_registration_status" ><%= service_registration.status %></span>
                <% end %>
              <% end %>
            </a>
