<% require_stylesheet 'service.css' %>
<% require_javascript 'service/index.js' %>

<div class="services_page_title">
  <%= render "index_page_title" %>
</div>

<div class="services_page_content">
  <%= render "index_page_content" %>
</div>


