<% require_stylesheet 'service.css' %>
<% require_javascript 'service/new.js' %>
<% require_javascript 'service/form_builder.js' %>

<div class="services_page_title">
  <%= render "new_page_title" %>
</div>

<div class="services_page_content">
  <%= render "new_page_content" %>
</div>


<!-- debugger info
<%# require_javascript 'form_builder.js' %>
<script>
</script>

<div id="form_builder_area">

</div>
<div id="form_builder_tools">
  <%= link_to_function "text field", "$('#form_builder_area').append(text_field({value:'aaa'}))" %>
</div>
-->
