<% require_stylesheet 'share.css' %>
<% require_stylesheet 'service.css' %>
<% require_javascript 'util.js' %>
<% require_javascript 'ui_util.js'%>
<% require_javascript 'service/form.js' %>
<% require_javascript 'service/form_builder.js' %>
<% require_javascript 'service/share.js' %>
<% require_javascript 'service/new.js' %>

<!-- app-spec -->
<div class="content circle-corners-bottom" >
<!-- end app-spec -->

  <!-- original
  <div class="services_page_title">
  -->
  <!-- app-spec -->
  <div class="heading-main">
    <h1 class="page-content services_page_title">
  <!-- end app-spec -->

      <%= render "new_page_title" %>

  <!-- app-spec -->
    </h1>
  <!-- end app-spec -->
  </div>

  <div class="services_page_content">
    <%= render "services/new_page_content" %>
  </div>

<!-- app-spec -->
</div>
<!-- end app-spec -->

<%= render "services/dialog_back_to_index_confirm" %>
