<% require_stylesheet 'service.css' %>
<% require_javascript 'service/share.js' %>
<% require_javascript 'service/form_builder.js' %>
<% require_javascript 'service/new.js' %>

<div class="services_page_title">
  <%= render "new_page_title" %>
</div>

<div class="services_page_content">
  <%= render "new_page_content" %>
</div>

