<script>
$(function() {
	$( "#sortable" ).sortable({
		placeholder: "ui-state-highlight"
	});
	$( "#sortable" ).disableSelection();
});
</script>

<ul id="sortable">
  <% @reports.each do |report| %>
    <li id="li_<%= report.partial_name %>" class="ui-state-default">
      <%= link_to report.name, {:action=>:show, :report_partial_name=>report.partial_name}, :remote=>true %>
    </li>
  <% end %>
</ul>


