<% require_javascript 'thirdParty/jquery.timepicker.js', 'thirdParty/jquery.fullcalendar.js', 'calendars.js' %>
<% require_stylesheet 'thirdParty/jquery.fullcalendar.css', 'omega_calendars.css' %>

<h1 class="page-content corners-top">
  Calendar
</h1>

<div class="page-content corners-bottom">
  <div id="cal">
  </div>


</div>




