<% require_javascript 'thirdParty/jquery.timepicker.js', 'thirdParty/jquery.fullcalendar.js', 'calendars.js' %>
<% require_stylesheet 'thirdParty/jquery.fullcalendar.css', 'omega_calendars.css' %>

<h1 class="page-content corners-top" >
  <div class="left h1">
  Calendar  
  </div>

  <div class="right" style="display:inline;">
    <%= om_button(:icon => 'calendar') do %>
        <%= link_to 'Create Calendar', new_calendar_url, :remote  => true %>
    <% end %>

  <%= select( nil, "calendars", Calendar.all.collect {|p| [ p.calendar_name, p.id ] })  %>
  </div>
  <div class="clear"></div>
</h1>

<div class="page-content corners-bottom">
  <div id="cal">
  </div>


</div>




