<h1><%=@calendar.calendar_name%> Calendar</h1>



<table>
  <tr>
    <th>Events</th>
  </tr>
  <% for event in @events %>
      <%if @calendar.id == event.calendar_id%>
        <tr>
            <td><%= link_to event.title, :controller => 'events', :action => 'show', :id => event.id %><br/>
            </td>
      </tr>
      <%end%>
  <% end %>
</table>

<p>
  <%= link_to 'Show All Events in '+ @calendar.calendar_name+ ' Calendar', :controller => 'calendars', :action => 'events', :id => @calendar.id%>
</p>

<p>
  <%= link_to 'Add an Event to '+@calendar.calendar_name+ ' Calendar', :controller => 'calendars', :action => 'add_event', :id => @calendar.id %>
</p>


