<ul>
  <li>
    Label<br>
    <input id="edit-label-value" type="text" value="<%=@field.field_name%>"> </input>

  </li>
  <li>
    Value<br>
    <input id="edit-field-value" type="text" value="<%=@field.value.field_value%>"> </input>

  </li>
  <li>
    Data Type
    <br>
    <select id="edit-field-type" type="text">
      <option>Text</option>
      <option>Number</option>
      <option>Email</option>

    </select>
  </li>
  <li>
    <input type="checkbox" name="required">Is this field required?
  </li>


</ul>