<%= side_bar_box('User Actions') do %>
    <ul>
      <li>

        <%= om_button(:icon=>'edit', :sidebar => true) do %>
            <%=  link_to 'Volunteering', tenant_volunteering_path %>
        <% end %>
      </li>


    </ul>

<% end %>