<%= side_bar_box(:filter) do %>
<h2>Filter by letter</h2>
    <ul id="letter-list">
      <% ('A'..'Z').each do |l| %>
          <li>
            <span><%= link_to l, "/users/#{l}" %></span>
          </li>
      <% end %>
    </ul>
    <div class="clear"></div>
<% end %>