<% if @position.skills %>
    <%= side_bar_box(:interests) do %>
        <% @position.interests.each do |interest| %>

             <%= link_to volunteering_interests_path(:interests => [params[:interests], interest.name].compact.join('+')) , :class => 'skill-tag' do %>
                <span >
                <%= interest.name %>
                   </span>
            <% end %>

        <% end %>
        <div class="clear"></div>
    <% end %>

<% end %>