<%= side_bar_box('Services Offered') do %>
    <!-- original
    <%# @services.each do |p| %>
        <h3>
          <span class="om-icon-only om-blue-icon ui-icon-folder-open"></span>
          <%#=  link_to truncate( p.service_name  ,:length => 30 ) , tenant_service_url(:id => p) %>
        </h3>
    <%# end %>
    -->

    <% @services.each do |s| %>
      <h3>
        <span class="om-icon-only om-blue-icon ui-icon-folder-open"></span>
        <%=  link_to truncate( s.name  ,:length => 30 ) , tenant_services_url(:service_id => s.id) %>
      </h3>
    <% end %>

<% end %>