<fieldset class="round bg_eee">
  <legend class="round shadow"><%= @account.name %></legend>
</fieldset>


<div class="accounts_bottom_links page_bottom_links" >
  <div class="left_links">
    <%= link_to 'Edit', edit_account_path(@account), :class=>"operation_button" %>
  </div>
  <div class="right_links">
    <%= link_to 'Back', accounts_path, :class=>"operation_button" %>
  </div>
</div>